trims {
  .title {
    border-bottom: 1px solid #ccc;
    margin: 0;
  }
  .nav {
    //flex-wrap: nowrap !important;
    width: 100%;
    li {
      //min-width: 70px;
    }
    li, li > a {
      position: relative;
      display: flex;
    }
    li {
      &.active {
        overflow: visible !important;
      }
      &.disabled {
        pointer-events: none;
      }
    }
  }
  .nav-tabs {
    li {
      a {
        font-size: 12px !important;
      }
    }
    .nav-item {

      &.active {
        a {
          padding-top: 5px !important;
          border-color: #ccc !important;
          border-top: 3px solid #3c8dbc !important;
          border-bottom: 1px solid #fff !important;
        }
        span {
          font-weight: bold;
        }
      }
    }
    .nav-link:hover {
      border-color: #f3f3f3;
      border-bottom-color: #ccc;
      font-weight: bold;
    }
  }
  .nav-tabs > li > a {
    color: #626262;
    text-transform: none;
    font-weight: inherit;
    font-family: "Segoe UI", Arial, sans-serif;
    padding: 7px 10px !important;
    font-size: 14px;
    span {
      font-weight: 400;
      //white-space: nowrap;
    }
  }
  .nav-tabs > li > a:hover {
    span {
      font-weight: 600;
    }
  }
}
