<div class="modal-header">
  <h4 class="modal-title m-0">{{title}} Functions</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.close({status: false})">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <perfect-scrollbar [config]="{suppressScrollX: false}">
    <table class="table table-sm role-table" *ngIf="tableData && tableData.length">
      <thead>
      <tr>
        <th>Function</th>
        <th [ngStyle]="{'min-width': '300px', 'width': '300px'}">Description</th>
        <th [ngStyle]="{'min-width': '130px', 'width': '130px'}">Can Perform</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let page of tableData; let i = index">
        <td>{{page.name}}</td>
        <td>{{page.description}}</td>
        <td>
          <div class="checkbox">
            <input type="checkbox" [id]="'roleCanModify-' + i" [(ngModel)]="page.isModify"
                   [disabled]="isPageReadOnly">
            <label [for]="'roleCanModify-' + i"></label>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </perfect-scrollbar>
  <p class="font-size-16 mx-2 mb-0" *ngIf="!tableData || !tableData.length">No data to display.</p>
</div>
<div class="modal-footer">
  <button class="btn btn-complete"
          (click)="onSubmitForm()">
    Save
  </button>
  <button class="btn btn-default"
          (click)="activeModal.close({status: false})">
    Cancel
  </button>
</div>

