role-detail {
  .role-table {
    table-layout: fixed;
    margin-top: 0;
    td, th {
      background: #fff!important;
      padding: .5em 0.4em !important;
      color: #2c2c2c !important;
      font-size: 12px !important;
      border: 1px solid hsla(0,0%,90%,.8);
      min-width: 40px;
    }
    th {
      text-align: center !important;
      font-weight: 300 !important;
      background-color: #f1f1f1 !important;
    }
    tr td {
      &:last-child {
        text-align: center !important;
      }
    }
    tr:last-child {
      td {
        // border-bottom: 0;
      }
    }

    .checkbox {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      margin-top: 0 !important;
      label {
        margin-right: 0;
        &:before {
          margin-right: 0;
        }
        &:after {
          left: 0.5px;
        }
      }
    }
  }
}
