<div class="panel panel-transparent py-2" [ngClass]="fontSizeClass">
  <div class="row pb-2 separate-border">
    <div class="col-lg-12 col-xl-12">
      <collapse-panel [formValue]="searchedObj">
        <div class="row">
          <form class="full-width" [formGroup]="frm" role="form" novalidate=""
                (ngSubmit)="onFilter()">
            <div class="col-lg-6 col-xl-6 left px-1">
              <div class="row">
                <div class="col-sm-6 col-lg-6 col-xl-6 m-b-5">
                  <div class="row align-items-center">
                    <div class="col-4 col-sm-4 col-lg-5">
                      <span class="right">Customer:</span>
                    </div>
                    <div class="col-8 col-sm-8 col-lg-7">
                      <input type="text"
                             name="customer"
                             placeholder="Customer Name"
                             formControlName='customer'
                             class="form-control">
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-6 col-xl-6 m-b-5">
                  <div class="row align-items-center">
                    <div class="col-4 col-sm-4 col-lg-5">
                      <span class="right">Style Name:</span>
                    </div>
                    <div class="col-8 col-sm-8 col-lg-7">
                      <input type="text"
                             name="styleName"
                             placeholder="Style Name"
                             formControlName='styleName'
                             class="form-control">
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6 col-lg-6 col-xl-6 m-b-5">
                  <div class="row align-items-center">
                    <div class="col-4 col-sm-4 col-lg-5">
                      <span class="right nowrap">PO #:</span>
                    </div>
                    <div class="col-8 col-sm-8 col-lg-7">
                      <input type="text"
                             name="poId"
                             placeholder="PO #"
                             formControlName='poId'
                             class="form-control">
                    </div>
                  </div>
                </div>
                <!--<div class="col-sm-6 col-lg-6 col-xl-6 m-b-5">-->
                  <!--<div class="row align-items-center">-->
                    <!--<div class="col-4 col-sm-4 col-lg-5">-->
                      <!--<span class="right">Partner Style:</span>-->
                    <!--</div>-->
                    <!--<div class="col-8 col-sm-8 col-lg-7">-->
                      <!--<input type="text"-->
                             <!--name="partnerStyle"-->
                             <!--placeholder="Partner Style"-->
                             <!--formControlName='partnerStyle'-->
                             <!--class="form-control">-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->
              </div>
              <!--<div class="row">-->
                <!--<div class="col-sm-6 col-lg-6 col-xl-6 m-b-5">-->
                  <!--<div class="row align-items-center">-->
                    <!--<div class="col-4 col-sm-4 col-lg-5">-->
                      <!--<span class="right nowrap">Retailer PO #:</span>-->
                    <!--</div>-->
                    <!--<div class="col-8 col-sm-8 col-lg-7">-->
                      <!--<input type="text"-->
                             <!--name="retailerPo"-->
                             <!--placeholder="Retailer PO #"-->
                             <!--formControlName='retailerPoId'-->
                             <!--class="form-control">-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
            </div>
            <div class="col-lg-6 col-xl-6 right px-1">
              <div class="row m-b-5">
                <div class="col-sm-6 col-lg-6 col-xl-6">
                  <div class="row align-items-center">
                    <div class="col-4 col-sm-4">
                      <span class="right nowrap">Schedule:</span>
                    </div>
                    <div class="col-8 col-sm-8">
                      <ng-select [items]="printDateSelect" #printSelect
                                 [clearable]="false"
                                 [placeholder]="'Print Date'"
                                 [searchable]="false"
                                 (focus)="onSelectFocused(printSelect)"
                                 bindLabel="text"
                                 bindValue="text"
                                 formControlName="printDate"></ng-select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row m-b-5" [ngClass]="{'hide': frm.get('printDate').value !== 'Custom'}">
                <div class="col-2 col-sm-2 m-t-5">
                  <span class="right nowrap">Schedule Date:</span>
                </div>
                <div class="p-l-5"
                     [ngClass]="{'has-error':!frm.get('printDateFromOnUtc').valid}">
                  <my-date-picker [options]="printDateFromOptions"
                                  #printDateFromPicker
                                  name='printDateFrom'
                                  formControlName='printDateFrom'
                                  [defaultMonth]="myDatePickerService.configDefaultMonth(frm.get('printDateTo').value, true)"
                                  (dateChanged)="onDateChanged($event, 'printDateFromOnUtc')"
                                  (inputFieldChanged)="myDatePickerService.onInputFieldChanged($event, printDateFromPicker)"
                                  (inputFocusBlur)="myDatePickerService.onInputFocusBlur($event, printDateFromPicker, frm.get('printDateFromOnUtc'))"></my-date-picker>
                  <label class="error nowrap"
                         *ngIf="frm.get('printDateFromOnUtc').hasError('required') && !frm.get('printDateFromOnUtc').pristine">
                    {{validationMessages['default'].required}}</label>
                  <label class="error nowrap"
                         *ngIf="frm.get('printDateFromOnUtc').hasError('maxDate') && !frm.get('printDateFromOnUtc').pristine">
                    {{validationMessages['printDateFromOnUtc'].maxLength}}</label>
                </div>
                <div class="px-2 flex center">
                  <span class="m-t-4">to</span>
                </div>
                <div class=""
                     [ngClass]="{'has-error':!frm.get('printDateToOnUtc').valid}">
                  <my-date-picker [options]="printDateToOptions"
                                  #printDateToPicker
                                  name='printDateTo'
                                  formControlName='printDateTo'
                                  [defaultMonth]="myDatePickerService.configDefaultMonth(frm.get('printDateFrom').value)"
                                  (dateChanged)="onDateChanged($event, 'printDateToOnUtc')"
                                  (inputFieldChanged)="myDatePickerService.onInputFieldChanged($event, printDateToPicker)"
                                  (inputFocusBlur)="myDatePickerService.onInputFocusBlur($event, printDateToPicker, frm.get('printDateToOnUtc'))"></my-date-picker>
                  <label class="error nowrap"
                         *ngIf="frm.get('printDateToOnUtc').hasError('required') && !frm.get('printDateToOnUtc').pristine">
                    {{validationMessages['default'].required}}</label>
                  <label class="error nowrap"
                         *ngIf="frm.get('printDateToOnUtc').hasError('minDate') && !frm.get('printDateToOnUtc').pristine">
                    {{validationMessages['printDateToOnUtc'].maxLength}}</label>
                </div>
              </div>
              <div class="row m-b-5">
                <div class="col-2 col-sm-2 m-t-5">
                  <span class="right nowrap">Cancel Date:</span>
                </div>
                <div class="p-l-5"
                     [ngClass]="{'has-error':!frm.get('cancelDateFromOnUtc').valid}">
                  <my-date-picker class="flex" [options]="cancelDateFromOptions"
                                  #cancelDateFromPicker
                                  formControlName='cancelDateFrom'
                                  [defaultMonth]="myDatePickerService.configDefaultMonth(frm.get('cancelDateTo').value, true)"
                                  (dateChanged)="onDateChanged($event, 'cancelDateFromOnUtc')"
                                  (inputFieldChanged)="myDatePickerService.onInputFieldChanged($event, cancelDateFromPicker)"
                                  (inputFocusBlur)="myDatePickerService.onInputFocusBlur($event, cancelDateFromPicker, frm.get('cancelDateFromOnUtc'))"></my-date-picker>
                  <label class="error nowrap"
                         *ngIf="frm.get('cancelDateFromOnUtc').hasError('maxDate') && !frm.get('cancelDateFromOnUtc').pristine">
                    {{validationMessages['cancelDateFromOnUtc'].maxLength}}</label>
                </div>
                <div class="px-2 flex center">
                  <span class="m-t-4">to</span>
                </div>
                <div class=""
                     [ngClass]="{'has-error':!frm.get('cancelDateToOnUtc').valid}">
                  <my-date-picker class="flex" [options]="cancelDateToOptions"
                                  #cancelDateToPicker
                                  formControlName='cancelDateTo'
                                  [defaultMonth]="myDatePickerService.configDefaultMonth(frm.get('cancelDateFrom').value)"
                                  (dateChanged)="onDateChanged($event, 'cancelDateToOnUtc')"
                                  (inputFieldChanged)="myDatePickerService.onInputFieldChanged($event, cancelDateToPicker)"
                                  (inputFocusBlur)="myDatePickerService.onInputFocusBlur($event, cancelDateToPicker, frm.get('cancelDateToOnUtc'))"></my-date-picker>
                  <label class="error nowrap"
                         *ngIf="frm.get('cancelDateToOnUtc').hasError('minDate') && !frm.get('cancelDateToOnUtc').pristine">
                    {{validationMessages['cancelDateToOnUtc'].maxLength}}</label>
                </div>
              </div>
            </div>
            <div class="col-lg-12 col-xl-12 left px-1">
              <div class="row">
                <div class="col-lg-12 center m-t-10">
                  <button class="btn btn-primary center" type="submit">Search</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </collapse-panel>
      <div class="row">
        <div class="col-lg-12 m-t-10 min-h-25">
          <p class="total-sched">{{sumSched}} scheduled items</p>
          <ng-template [ngIf]="!isFilter || !isNoData">
            <a class="pull-left m-l-200" href="javascript:void(0)" (click)="exportFinishing('pdf')">
              <i class="fa fa-file-pdf-o fa-2x text-danger" aria-hidden="true"></i>
            </a>
            <div class="mx-1 pull-left">
              <div ngbDropdown class="d-inline-block" #myFontDrop="ngbDropdown"
                  class="select-size-dropdown"
                  placement="bottom-right"
                  (clickOutside)="myFontDrop.close();"
                  [attachOutsideOnClick]="true">
                <i class="fa fa-font fa-2x cursor" id="dropdown5" ngbDropdownToggle></i>
                <div ngbDropdownMenu aria-labelledby="dropdown5">
                  <button class="dropdown-item" *ngFor="let item of fontSizeData"
                          [ngClass]="{'active': item === myConfigStyle['font-size']}"
                          (click)="changeFontSize(item);myFontDrop.close();" type="button">
                    {{item}}
                  </button>
                </div>
              </div>
            </div>
            <div *ngIf="!isShowAllColumns" ngbDropdown class="select-column-dropdown select-columns pull-left m-l-40 m-r-10" #myDrop="ngbDropdown"
                  placement="bottom-right"
                  (openChange)="onChangeShowHideColumn($event)"
                  (clickOutside)="myDrop.close()"
                  [attachOutsideOnClick]="true">
              <i class="fa fa-sliders fa-2x cursor" id="dropdown4" ngbDropdownToggle></i>
              <div ngbDropdownMenu aria-labelledby="dropdown4">
                <div class="col-12 px-1">
                  <div class="checkbox">
                    <input type="checkbox" id="all-options4" [checked]="isCheckedAll"
                            (change)="onCheckedColsAll($event)">
                    <label [style.margin-bottom]="'.2rem'" for="all-options4">All</label>
                  </div>
                </div>
                <div class="divider"></div>
                <div class="">
                  <div class="col-12 px-1" *ngFor="let col of showHideColumns; let i = index">
                    <div class="checkbox">
                      <input type="checkbox"
                              [id]="'col-' + i"
                              [name]="'col-' + i"
                              [(ngModel)]="col.isView"
                              (change)="changeCheckedCol($event)">
                      <label [for]="'col-' + i">{{col.description}}</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="pull-left m-t-5">
              <a href="javascript:void(0)" *ngIf="!isShowAllColumns"
                  (click)="showAllColumns(true)">Show All Columns</a>
              <a href="javascript:void(0)" *ngIf="isShowAllColumns"
                  (click)="showAllColumns(false)">Show My Columns</a>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
  <div class="py-2" *ngIf="isFilter && isNoData && (!isOnLateTab || !lateJobData.length)">
    <span class="font-size-16">No styles are scheduled that match your search criteria.</span>
  </div>
  <!--Days tab-->
  <ul class="nav nav-tabs m-t-20 m-b-10 days-tab" *ngIf="tableData && tableData.length">
    <li class="text-center nav-item" *ngFor="let tab of daysTab; let i=index" [dragula]='"bag-one"'
        [ngClass]="{'active': tab.isActive}"
        (click)="setDaysTab(i)"
        [id]="'days-tab-' + i">
      <a class="justify-center nav-link" href="javascript:void(0)" aria-expanded="true">
        <span>{{tab.date ? (tab.date | amDateFormat: 'ddd M/D') : 'Late'}}</span>
      </a>
    </li>
  </ul>
  <div id="necklabelTable" class="py-2" *ngIf="tableData && tableData.length"
       [ngClass]="fontSizeClass">

    <perfect-scrollbar [config]="{suppressScrollX: false}" (psScrollX)="onScrollXDebounce($event)">
      <div id="header" [ngStyle]="myConfigStyleHeader"></div>
      <div id="table">
        <table name="necklabel-table" class="table necklabel-table" border="1px"
               *ngFor="let dayData of tableData; let di = index">
          <thead *ngIf="!dayData.isNoData || !isFilter">
          <tr class="header-daytime">
            <th [ngClass]="{'red-cell': isOnLateTab}" class="day" [attr.colspan]="totalColspan.first + 2" *ngIf="vendorId">
              {{dayData.date | amDateFormat: 'dddd' | uppercase}}, {{dayData.date | amDateFormat:
              'MM/DD/YYYY'}}
            </th>
            <th [ngClass]="{'red-cell': isOnLateTab}" class="day" [attr.colspan]="totalColspan.first + 3" *ngIf="!vendorId">
              {{dayData.date | amDateFormat: 'dddd' | uppercase}}, {{dayData.date | amDateFormat:
              'MM/DD/YYYY'}}
            </th>
            <th [ngClass]="{'red-cell': isOnLateTab}" *ngIf="isTsc && totalColspan.second + 4 > 0" class="time" [attr.colspan]="totalColspan.second + 4">
            <th [ngClass]="{'red-cell': isOnLateTab}" *ngIf="!isTsc && totalColspan.second - 1 > 0" class="time" [attr.colspan]="totalColspan.second - 1">
            </th>
          </tr>
          <ng-template ngFor let-schedulerGroup [ngForOf]="dayData.data" let-i="index">
            <tr *ngIf="dayData.data && dayData.data.length && schedulerGroup.data.length && !i">
              <th *ngIf="!vendorId"
                  [ngStyle]="{'min-width': getMinWidthDependFontSize(60), 'max-width': getMinWidthDependFontSize(60)}">
                Vendor
              </th>
              <th *ngIf="getIsViewColumn(colProp[0])"
                [ngStyle]="{'min-width': getMinWidthDependFontSize(60), 'max-width': getMinWidthDependFontSize(60)}">
                Cut<br> Ticket #
              </th>
              <th *ngIf="getIsViewColumn(colProp[1])"
                [ngStyle]="{'min-width': getMinWidthDependFontSize(80), 'max-width': getMinWidthDependFontSize(80)}">
                Cust /<br> PO #
              </th>
              <th *ngIf="getIsViewColumn(colProp[2])"
                [ngStyle]="{'min-width': getMinWidthDependFontSize(80), 'max-width': getMinWidthDependFontSize(80)}">
                Design #<br> Description
              </th>
              <th *ngIf="getIsViewColumn(colProp[3])"
                [ngStyle]="{'min-width': getMinWidthDependFontSize(70), 'max-width': getMinWidthDependFontSize(70)}">
                Images
              </th>
              <th *ngIf="getIsViewColumn(colProp[4])"
                [ngStyle]="{'min-width': getMinWidthDependFontSize(80), 'max-width': getMinWidthDependFontSize(80)}">
                Blank Style /<br> Description
              </th>
              <th *ngIf="getIsViewColumn(colProp[5])"
                [ngStyle]="{'min-width': getMinWidthDependFontSize(60), 'max-width': getMinWidthDependFontSize(60)}">
                Garment<br> Color
              </th>
              <th *ngIf="getIsViewColumn(colProp[6])"
                [ngStyle]="{'min-width': getMinWidthDependFontSize(70), 'max-width': getMinWidthDependFontSize(70)}">
                Qty (PCS)
              </th>
              <th *ngIf="isTsc && getIsViewColumn(colProp[7])"
                  [ngStyle]="{'min-width': getMinWidthDependFontSize(60), 'max-width': getMinWidthDependFontSize(60)}">
                # People<br> Required
              </th>
              <th *ngIf="isTsc && getIsViewColumn(colProp[8])"
                  [ngStyle]="{'min-width': getMinWidthDependFontSize(60), 'max-width': getMinWidthDependFontSize(60)}">
                Hrs<br> Needed
              </th>
              <th *ngIf="isTsc && getIsViewColumn(colProp[9])"
                  [ngStyle]="{'min-width': getMinWidthDependFontSize(70), 'max-width': getMinWidthDependFontSize(70)}">
                Actual<br> Run Time
              </th>
              <th *ngIf="isTsc && getIsViewColumn(colProp[10])"
                  [ngStyle]="{'min-width': getMinWidthDependFontSize(80), 'max-width': getMinWidthDependFontSize(80)}">
                Blank Goods ETA
              </th>
              <th *ngIf="isTsc && getIsViewColumn(colProp[11])"
                  [ngStyle]="{'min-width': getMinWidthDependFontSize(90), 'max-width': getMinWidthDependFontSize(90)}">
                Start/Cancel<br> Ship Date
              </th>
              <th *ngIf="getIsViewColumn(colProp[12]) || (!isTsc && getIsViewColumn(colProp[7]))"
                [ngStyle]="{'min-width': getMinWidthDependFontSize(80), 'max-width': getMinWidthDependFontSize(80)}">
                Screen Print Date
              </th>
              <th *ngIf="isTsc && getIsViewColumn(colProp[13])"
                  [ngStyle]="{'min-width': getMinWidthDependFontSize(60), 'max-width': getMinWidthDependFontSize(60)}">
                Neck Label Date
              </th>
              <th *ngIf="isTsc && getIsViewColumn(colProp[14])"
                  [ngStyle]="{'min-width': getMinWidthDependFontSize(80), 'max-width': getMinWidthDependFontSize(80)}">
                Ready to Ship<br> Date
              </th>
              <th *ngIf="isTsc && getIsViewColumn(colProp[15])"
                  [ngStyle]="{'min-width': getMinWidthDependFontSize(70), 'max-width': getMinWidthDependFontSize(70)}">
                Deliver To
              </th>
              <th *ngIf="!isTsc && getIsViewColumn(colProp[8])"
                  [ngStyle]="{'min-width': getMinWidthDependFontSize(80), 'max-width': getMinWidthDependFontSize(80)}">
                Work<br> Required
              </th>
              <th *ngIf="!isTsc && getIsViewColumn(colProp[9])"
                  [ngStyle]="{'min-width': getMinWidthDependFontSize(80), 'max-width': getMinWidthDependFontSize(80)}">
                Date<br> Needed
              </th>
              <th *ngIf="!isTsc && getIsViewColumn(colProp[10])"
                  [ngStyle]="{'min-width': getMinWidthDependFontSize(80), 'max-width': getMinWidthDependFontSize(80)}">
                Ship<br> From
              </th>
              <th *ngIf="getIsViewColumn(colProp[16]) || (!isTsc && getIsViewColumn(colProp[11]))"
                  [ngStyle]="{'min-width': getMinWidthDependFontSize(60), 'max-width': getMinWidthDependFontSize(60)}">
                Comments
              </th>
              <th
                [ngStyle]="{'min-width': getMinWidthDependFontSize(60), 'max-width': getMinWidthDependFontSize(60)}">

              </th>
            </tr>
          </ng-template>
          </thead>
          <tbody *ngIf="!dayData.isNoData|| !isFilter" [dragula]='"bag-one"'>
          <ng-template ngFor let-schedulerGroup [ngForOf]="dayData.data" let-i="index">
            <tr *ngIf="!schedulerGroup.data.length">
              <p class="noschedule">Nothing is scheduled for this date.</p>
            </tr>
            <ng-template ngFor let-prs let-pFirst="first" [ngForOf]="processList">
            <tr *ngIf="isTsc && hasDataByProcess(schedulerGroup.data, prs.number)">
              <td [attr.colspan]="totalColspan.first + 2 + totalColspan.second + 4" class="print-method-group">
                {{prs.isCustom ? ('Custom Process "' + prs.number + '"') : ('Process # ' + prs.number + ' - ' + prs.name)}}
              </td>
            </tr>
            <ng-template [ngIf]="isTsc || (!isTsc && pFirst)">
            <ng-template ngFor let-row [ngForOf]="schedulerGroup.data" let-ii="index">
              <tr *ngIf="(row.processNumber === prs.number || !isTsc) && !row.isMaintenanceJob"
                  [id]="di + '-' + i + '-' + ii" class="dragging-schedules-finishing"
                  [ngClass]="{'archived-cell': row && row.isArchived}">
                <td *ngIf="!vendorId && !ii" [rowSpan]="schedulerGroup.data.length + 1"
                    [ngStyle]="{'min-width': getMinWidthDependFontSize(60), 'max-width': getMinWidthDependFontSize(60)}">
                  <div class="flex-box">{{row.vendorName}}</div>
                </td>
                <td *ngIf="getIsViewColumn(colProp[0])"
                  [ngStyle]="{'min-width': getMinWidthDependFontSize(60), 'max-width': getMinWidthDependFontSize(60)}">
                  <div class="center-box">
                    <p class="mb-2">{{row.cutTicketProduction}}</p>
                    <p *ngIf="row.isUploadedCutTicketProduction" class="p-eyes">
                      <i class="fa fa-eye" [ngStyle]="{'top': '-1px'}" aria-hidden="true"
                         (click)="openUploader(row.orderDetailId, styleUploadedType.ProductionPO, 'Production PO - Cut Ticket')"></i>
                    </p>
                  </div>
                </td>
                <td *ngIf="getIsViewColumn(colProp[1])" class="cursor"
                    [ngStyle]="{'min-width': getMinWidthDependFontSize(80), 'max-width': getMinWidthDependFontSize(80)}"
                    >
                  <div class="flex-box" (click)="goToOrderInfo(row.orderId)" style="height: auto">
                    <p class="mb-3 p-link">{{row.customerName}}</p>
                    <p class="p-link">{{row.customerPoId}}</p>
                  </div>
                </td>
                <td *ngIf="getIsViewColumn(colProp[2])" class="cursor"
                    [ngStyle]="{'min-width': getMinWidthDependFontSize(80), 'max-width': getMinWidthDependFontSize(80)}"
                    (click)="goToStyle(row.orderId, row.orderDetailId)">
                  <div class="flex-box">
                    <p class="mb-2 p-link">{{row.partnerStyle}}</p>
                    <p class="mb-2 p-link">{{row.styleName}}</p>
                    <p class="mb-2 p-link" *ngIf="row.licensorName">({{row.licensorName}})</p>
                  </div>
                </td>
                <td *ngIf="getIsViewColumn(colProp[3])"
                  [ngStyle]="{'min-width': getMinWidthDependFontSize(70), 'max-width': getMinWidthDependFontSize(70)}">
                  <img *ngIf="row.printImageUrl" class="img-thumbnail-none-wh cursor"
                       [src]="row.printImageUrl" width="50"
                       height="50"
                       imgZoomClick>
                  <img *ngIf="row.neckLabelImageUrl" class="img-thumbnail-none-wh cursor"
                       [src]="row.neckLabelImageUrl"
                       width="50"
                       height="50"
                       imgZoomClick>
                </td>
                <td *ngIf="getIsViewColumn(colProp[4])"
                  [ngStyle]="{'min-width': getMinWidthDependFontSize(60), 'max-width': getMinWidthDependFontSize(60)}">
                  <div class="flex-box">
                    <p class="mb-3">{{row.blankStyle}}</p>
                    <p>{{row.blankDescription}}</p>
                  </div>
                </td>
                <td *ngIf="getIsViewColumn(colProp[5])"
                  [ngStyle]="{'min-width': getMinWidthDependFontSize(60), 'max-width': getMinWidthDependFontSize(60)}">
                  <div class="center-box">{{row.color}}</div>
                </td>
                <td *ngIf="getIsViewColumn(colProp[6])"
                  [ngClass]="{'red-cell': row.isLateOriginal && !row.isArchived, 'resched-cell': row.isLateRescheduled && !row.isArchived, 'archived-cell': row.isArchived}"
                  [ngStyle]="{'min-width': getMinWidthDependFontSize(70), 'max-width': getMinWidthDependFontSize(70)}">
                  <div style="position: relative;"
                    [ngClass]="{'flex-box': row.units && row.scheduledQty, 'center-box': !row.units || !row.scheduledQty}">
                    <p class="mb-3">{{row.units}}</p>
                    <p class="nowrap">{{row.scheduledQty || 0}} sched.
                      <i class="fa fa-times cursor py-1" aria-hidden="true" (click)="removeLateJob(row)"
                        *ngIf="!isPageReadOnly && isAllowDrag && !row.isArchived && !row.isEnteredQty"
                        title="Click to Remove"></i>
                    </p>
                    <p class="m-t-5">
                      {{row.completedQty}} {{row.completedTimeOnUtc ? 'conf' : 'complt'}}.
                    </p>

                    <button class="btn btn-yellow btn-small m-t-10" [ngClass]="{'m-b-10': !isPageReadOnly && isAllowDrag && !row.isArchived && !row.isEnteredQty}"
                            *ngIf="row && row.processStatus === 1"
                            >Job Started
                    </button>
                    <button class="btn btn-orange btn-small m-t-10" [ngClass]="{'m-b-10': !isPageReadOnly && isAllowDrag && !row.isArchived && !row.isEnteredQty}"
                            *ngIf="row && row.processStatus === 2"
                            >Job Pending
                    </button>
                    <button class="btn btn-green btn-small m-t-10" [ngClass]="{'m-b-10': !isPageReadOnly && isAllowDrag && !row.isArchived && !row.isEnteredQty}"
                            *ngIf="row && row.processStatus >= 3 && row.processStatus < 7"
                            >Job Completed
                    </button>
                    <button class="btn btn-yellow btn-small m-t-10" [ngClass]="{'m-b-10': !isPageReadOnly && isAllowDrag && !row.isArchived && !row.isEnteredQty}"
                            *ngIf="row && row.processStatus === 7"
                            >Job Paused
                    </button>

                    <p style="height: 30px" *ngIf="!isPageReadOnly && isAllowDrag && !row.isArchived && !row.isEnteredQty"></p>
                    <p class="move-icon" *ngIf="!isPageReadOnly && isAllowDrag && !row.isArchived && !row.isEnteredQty">
                      <i class="fa fa-lg fa-arrows" aria-hidden="true"></i>
                    </p>
                  </div>
                </td>
                <!-- <td *ngIf="isTsc && getIsViewColumn(colProp[7])" [title]="!isPageReadOnly ? 'Click to Edit' : ''"
                    [ngStyle]="{'min-width': getMinWidthDependFontSize(70), 'max-width': getMinWidthDependFontSize(70)}">
                  <div class="flex-box">
                    <input class="runTimeInput"
                           [ngClass]="{'setTime-disabled': isPageReadOnly}"
                           [disabled]="isPageReadOnly"
                           (keyup.enter)="$event.target.blur()"
                           (keyup.esc)="inputEsc($event, true)"
                           (focus)="inputClick($event)"
                           (blur)="updateInput(row, $event)"
                           [(ngModel)]="row.finishingProcess"/>
                  </div>
                </td> -->
                <td *ngIf="getIsViewColumn(colProp[8]) && isTsc" [title]="!isPageReadOnly && !row.isArchived && !isOnLateTab && (row.processStatus < 3 || row.processStatus >= 7) ? 'Click to Edit' : ''"
                    [ngStyle]="{'min-width': getMinWidthDependFontSize(60), 'max-width': getMinWidthDependFontSize(60)}"
                    class="relative">
                    <div class="center-box">
                      <p class="full-width" [ngClass]="{'p-link': !isPageReadOnly && !row.isArchived && !isOnLateTab && (row.processStatus < 3 || row.processStatus >= 7)}" (click)="configFinishingProcess(row)">{{row.peopleRequired}}</p>
                    </div>
                </td>
                <!-- <td [title]="!isPageReadOnly ? 'Click to Edit' : ''"
                    [ngStyle]="{'min-width': getMinWidthDependFontSize(60), 'max-width': getMinWidthDependFontSize(60)}"
                    class="relative" *ngIf="isTsc && getIsViewColumn(colProp[9])">
                  <div class="center-box">
                    <p>{{row.staffAvgPcsPerHr}}</p>
                  </div>
                </td> -->
                <td [title]="!isPageReadOnly ? 'Click to Edit' : ''"
                    [ngStyle]="{'min-width': getMinWidthDependFontSize(60), 'max-width': getMinWidthDependFontSize(60)}"
                    class="relative" *ngIf="isTsc && getIsViewColumn(colProp[10])">
                  <div class="center-box">
                    <p>{{row.hrsNeeded | hrsToHrsMin}}</p>
                  </div>
                </td>
                <td *ngIf="isTsc && getIsViewColumn(colProp[9])"
                    [ngStyle]="{'min-width': getMinWidthDependFontSize(70), 'max-width': getMinWidthDependFontSize(70)}"
                    class="relative">
                  <div class="center-box">
                    <p class="mb-1" *ngIf="row.startedTimeOnUtc">Start Time: {{row.startedTimeOnUtc | amFromUtc | amLocal | amDateFormat: 'hh:mm A'}}</p>
                    <p class="mb-1" *ngIf="row.completedTimeOnUtc">End Time: {{row.completedTimeOnUtc | amFromUtc | amLocal | amDateFormat: 'hh:mm A'}}</p>
                    <p class="mb-1" *ngIf="row.actualRT">Total Time: {{row.actualRT | hrsToHrsMin}}</p>
                  </div>
                </td>
                <td
                  [ngStyle]="{'min-width': getMinWidthDependFontSize(80), 'max-width': getMinWidthDependFontSize(80)}"
                  *ngIf="isTsc && getIsViewColumn(colProp[11])">
                  <div class="flex-box">
                    <div class="mb-2">
                      <p>Eta:
                        <span class="m-l-1"
                              *ngIf="row.blankEstDeliveryDateFromOnUtc">
                            {{row.blankEstDeliveryDateFromOnUtc | amFromUtc | amLocal | amDateFormat: 'MM/DD/YY'}}
                        </span>
                        <span class="m-l-1"
                              *ngIf="!row.blankEstDeliveryDateFromOnUtc">N/A</span>
                      </p>
                      <p *ngIf="row.blankEstDeliveryDateToOnUtc" class="m-0">
                        <span>
                            - {{row.blankEstDeliveryDateToOnUtc | amFromUtc | amLocal | amDateFormat: 'MM/DD/YY'}}
                        </span>
                      </p>
                      <p *ngIf="row.hasTscVendor">
                        , Warehouse
                      </p>
                    </div>
                    <p>Rcvd:
                      <span class="m-l-1"
                            *ngIf="row.blankReceivedDateFromOnUtc && !row.blankReceivedDateToOnUtc">
                      {{row.blankReceivedDateFromOnUtc | amFromUtc | amLocal | amDateFormat: 'MM/DD/YY h:mm A'}}
                    </span>
                      <span class="m-l-1"
                            *ngIf="row.blankReceivedDateFromOnUtc && row.blankReceivedDateToOnUtc">
                      {{row.blankReceivedDateFromOnUtc | amFromUtc | amLocal | amDateFormat: 'MM/DD/YY'}}
              </span>
                      <span class="m-l-1" *ngIf="!row.blankReceivedDateFromOnUtc">N/A</span>
                    </p>
                    <p *ngIf="row.blankReceivedDateToOnUtc">
                      - {{row.blankReceivedDateToOnUtc | amFromUtc | amLocal | amDateFormat:
                      'MM/DD/YY
                      h:mm A'}}
                    </p>
                  </div>
                </td>
                <td *ngIf="isTsc && getIsViewColumn(colProp[13])"
                    [ngStyle]="{'min-width': getMinWidthDependFontSize(90), 'max-width': getMinWidthDependFontSize(90)}">
                  <div class="center-box">
                    <p class="nowrap mb-1" *ngIf="row.startShipDateOnUtc">
                      STRT: {{row.startShipDateOnUtc | amDateFormat: 'MM/DD/YY'}}
                    </p>
                    <p class="nowrap mb-1" *ngIf="row.cancelDateOnUtc">
                      CNCL: {{row.cancelDateOnUtc | amDateFormat: 'MM/DD/YY'}}
                    </p>
                    <p class="nowrap mb-1" *ngIf="row.isInDcOrder">
                      LDSNE: {{row.lastDateToShipOnUtc | amDateFormat: 'MM/DD/YY'}}
                    </p>
                  </div>
                </td>
                <td
                  [ngStyle]="{'min-width': getMinWidthDependFontSize(80), 'max-width': getMinWidthDependFontSize(80)}"
                  *ngIf="isTsc && getIsViewColumn(colProp[12])">
                  <div class="flex-box">
                    <p>{{row.printMachines}}</p>
                    <p *ngIf="row.printDateStatus" class="m-t-10 m-b-0">Sched:
                      <span class="m-l-1" *ngIf="row.printDateScheduledFromOnUtc; else elsePrintDateScheduledFromOnUtc">{{row.printDateScheduledFromOnUtc | amFromUtc | amLocal | amDateFormat: 'MM/DD/YY'}}</span>
                      <ng-template #elsePrintDateScheduledFromOnUtc>N/A</ng-template>
                    </p>
                    <p *ngIf="row.printDateStatus" class="m-0">
                      <span *ngIf="row.printDateScheduledToOnUtc">- {{row.printDateScheduledToOnUtc | amFromUtc | amLocal | amDateFormat: 'MM/DD/YY'}}</span>
                    </p>
                    <p *ngIf="row.printDateStatus" class="m-t-10 m-b-0">Done:
                      <span class="m-l-1" *ngIf="row.printDateDoneFromOnUtc; else elsePrintDateDoneFromOnUtc">{{row.printDateDoneFromOnUtc | amFromUtc | amLocal | amDateFormat: 'MM/DD/YY'}}</span>
                      <ng-template #elsePrintDateDoneFromOnUtc>N/A</ng-template>
                    </p>
                    <p *ngIf="row.printDateStatus" class="m-0">
                      <span *ngIf="row.printDateDoneToOnUtc">- {{row.printDateDoneToOnUtc | amFromUtc | amLocal | amDateFormat: 'MM/DD/YY'}}</span>
                    </p>
                  </div>
                </td>
                <td *ngIf="isTsc"
                    [ngStyle]="{'min-width': getMinWidthDependFontSize(60), 'max-width': getMinWidthDependFontSize(60)}">
                  <p *ngIf="row.neckLabelDateStatus">Sched:
                    <span class="m-l-1" *ngIf="row.neckLabelDateScheduledFromOnUtc; else elseNeckLabelDateScheduledFromOnUtc">{{row.neckLabelDateScheduledFromOnUtc | amDateFormat: 'MM/DD/YY'}}</span>
                    <ng-template #elseNeckLabelDateScheduledFromOnUtc>N/A</ng-template>
                  </p>
                  <p *ngIf="row.neckLabelDateStatus" class="m-0">
                    <span *ngIf="row.neckLabelDateScheduledToOnUtc">- {{row.neckLabelDateScheduledToOnUtc | amDateFormat: 'MM/DD/YY'}}</span>
                  </p>
                  <p class="m-b-0" *ngIf="row.neckLabelDateStatus === taskStatus.PARTIAL">Part:
                    <span class="m-l-1" *ngIf="row.neckLabelDatePartialFromOnUtc; else elseNeckLabelDatePartialFromOnUtc">{{row.neckLabelDatePartialFromOnUtc | amDateFormat: 'MM/DD/YY'}}</span>
                    <ng-template #elseNeckLabelDatePartialFromOnUtc>N/A</ng-template>
                  </p>
                  <p class="m-b-0"
                    *ngIf="row.neckLabelDateStatus === taskStatus.PARTIAL">
                    <span *ngIf="row.neckLabelDatePartialToOnUtc">- {{row.neckLabelDatePartialToOnUtc | amDateFormat: 'MM/DD/YY'}}</span>
                  </p>
                  <p class="m-b-0" *ngIf="row.neckLabelDateStatus === taskStatus.DONE">Done:
                    <span class="m-l-1" *ngIf="row.neckLabelDateDoneFromOnUtc; else elseNeckLabelDateDoneFromOnUtc">{{row.neckLabelDateDoneFromOnUtc | amDateFormat: 'MM/DD/YY'}}</span>
                    <ng-template #elseNeckLabelDateDoneFromOnUtc>N/A</ng-template>
                  </p>
                  <p class="m-b-0"
                    *ngIf="row.neckLabelDateStatus === taskStatus.DONE">
                    <span *ngIf="row.neckLabelDateDoneToOnUtc">- {{row.neckLabelDateDoneToOnUtc | amDateFormat: 'MM/DD/YY'}}</span>
                  </p>
                </td>
                <td *ngIf="isTsc && getIsViewColumn(colProp[14])"
                    [ngStyle]="{'min-width': getMinWidthDependFontSize(80), 'max-width': getMinWidthDependFontSize(80)}">
                  <!--<p class="stt-p stt-black" *ngIf="!row.readyToShipStatus">?</p>-->
                  <!--<p class="stt-p stt-green" *ngIf="row.readyToShipStatus === taskStatus.DONE">Done</p>-->
                  <!--<p class="stt-p stt-lightgrey" *ngIf="row.readyToShipStatus === taskStatus.BLANK">N/A</p>-->
                  <!--<p class="stt-p stt-orange" *ngIf="row.readyToShipStatus === taskStatus.TBD">TBD</p>-->
                  <!--<p class="stt-p stt-yellow" *ngIf="row.readyToShipStatus === taskStatus.SCHEDULED">Scheduled</p>-->
                  <!--<p class="stt-p stt-green" *ngIf="row.readyToShipStatus === taskStatus.RERUN">Rerun</p>-->
                  <!--<p class="stt-p stt-green" *ngIf="row.readyToShipStatus === taskStatus.RECEIVED">Received</p>-->
                  <!--<p class="stt-p stt-lightgreen" *ngIf="row.readyToShipStatus === taskStatus.PARTIAL">Partial</p>-->
                  <!--<p class="stt-p stt-green" *ngIf="row.readyToShipStatus === taskStatus.APPROVED">Approved</p>-->

                  <p class="mbe-1" *ngIf="row.readyToShipDateStatus">Sched:
                    <span class="m-l-1"
                          *ngIf="row.schedReadyToShipStartDateOnUtc; else elseSchedReadyToShipStart">
                        {{row.schedReadyToShipStartDateOnUtc | amFromUtc | amLocal | amDateFormat: 'MM/DD/YY'}}
                    </span>
                    <ng-template #elseSchedReadyToShipStart><span>N/A</span></ng-template>
                    <span *ngIf="row.schedReadyToShipEndDateOnUtc">
                        - {{row.schedReadyToShipEndDateOnUtc | amFromUtc | amLocal | amDateFormat: 'MM/DD/YY'}}
                    </span>
                  </p>
                  <p class="m-t-5" *ngIf="row.readyToShipDateStatus">Done:
                    <span class="m-l-1"
                          *ngIf="row.readyToShipStartDateOnUtc; else elseReadyToShipStart">
                        {{row.readyToShipStartDateOnUtc | amFromUtc | amLocal | amDateFormat: 'MM/DD/YY'}}
                    </span>
                    <ng-template #elseReadyToShipStart><span>N/A</span></ng-template>
                    <span *ngIf="row.readyToShipEndDateOnUtc">
                        - {{row.readyToShipEndDateOnUtc | amFromUtc | amLocal | amDateFormat: 'MM/DD/YY'}}
                    </span>
                  </p>
                </td>
                <td *ngIf="isTsc && getIsViewColumn(colProp[15])"
                    [ngStyle]="{'min-width': getMinWidthDependFontSize(70), 'max-width': getMinWidthDependFontSize(70)}">
                  <div class="center-box">
                    {{row.fulfillmentType === 1 ? 'In Fulfillment' :
                    row.fulfillmentType === 2 ? 'In DC' :
                    row.fulfillmentType === 3 ? 'Drop Ship' : ''}}
                  </div>
                </td>
                <td *ngIf="!isTsc && getIsViewColumn(colProp[7])" [title]="!isPageReadOnly ? 'Click to Edit' : ''"
                    [ngStyle]="{'min-width': getMinWidthDependFontSize(80), 'max-width': getMinWidthDependFontSize(80)}">
                  <div class="flex-box">
                    <input class="runTimeInput"
                           [ngClass]="{'setTime-disabled': isPageReadOnly}"
                           [disabled]="isPageReadOnly"
                           (keyup.enter)="$event.target.blur()"
                           (keyup.esc)="inputEsc($event, true)"
                           (focus)="inputClick($event)"
                           (blur)="updateInput(row, $event)"
                           [(ngModel)]="row.goodsAvailable"/>
                  </div>
                </td>
                <td *ngIf="!isTsc && getIsViewColumn(colProp[8])" [title]="!isPageReadOnly ? 'Click to Edit' : ''"
                    [ngStyle]="{'min-width': getMinWidthDependFontSize(80), 'max-width': getMinWidthDependFontSize(80)}">
                  <div class="flex-box">
                    <input class="runTimeInput"
                           [ngClass]="{'setTime-disabled': isPageReadOnly}"
                           [disabled]="isPageReadOnly"
                           (keyup.enter)="$event.target.blur()"
                           (keyup.esc)="inputEsc($event, true)"
                           (focus)="inputClick($event)"
                           (blur)="updateInput(row, $event)"
                           [(ngModel)]="row.workRequired"/>
                  </div>
                </td>
                <td *ngIf="!isTsc && getIsViewColumn(colProp[9])" [title]="!isPageReadOnly ? 'Click to Edit' : ''"
                    [ngStyle]="{'min-width': getMinWidthDependFontSize(80), 'max-width': getMinWidthDependFontSize(80)}">
                  <div class="flex-box">
                    <input class="runTimeInput"
                           [ngClass]="{'setTime-disabled': isPageReadOnly}"
                           [disabled]="isPageReadOnly"
                           (keyup.enter)="$event.target.blur()"
                           (keyup.esc)="inputEsc($event, true)"
                           (focus)="inputClick($event)"
                           (blur)="updateInput(row, $event)"
                           [(ngModel)]="row.dateNeeded"/>
                  </div>
                </td>
                <td *ngIf="!isTsc && getIsViewColumn(colProp[10])" [title]="!isPageReadOnly ? 'Click to Edit' : ''"
                    [ngStyle]="{'min-width': getMinWidthDependFontSize(80), 'max-width': getMinWidthDependFontSize(80)}">
                  <div class="flex-box">
                    <input class="runTimeInput"
                           [ngClass]="{'setTime-disabled': isPageReadOnly}"
                           [disabled]="isPageReadOnly"
                           (keyup.enter)="$event.target.blur()"
                           (keyup.esc)="inputEsc($event, true)"
                           (focus)="inputClick($event)"
                           (blur)="updateInput(row, $event)"
                           [(ngModel)]="row.shipFrom"/>
                  </div>
                </td>
                <td *ngIf="getIsViewColumn(colProp[16]) || (!isTsc && getIsViewColumn(colProp[11]))"
                    [ngStyle]="{'min-width': getMinWidthDependFontSize(60), 'max-width': getMinWidthDependFontSize(60)}">
                  <div class="center-box">
                    <p *ngIf="row.hasComments">
                      <i class="fa fa-comments fa-2x cursor" title="See Comments"
                         (click)="addComment(row, true)">
                      </i>
                    </p>
                    <button *ngIf="!isPageReadOnly && !row.isArchived" class="btn btn-small btn-success m-t-15"
                            (click)="addComment(row)">+ Add
                    </button>
                  </div>
                </td>
                <td [ngStyle]="{'min-width': getMinWidthDependFontSize(60), 'max-width': getMinWidthDependFontSize(60)}">
                  <div class="center-box">
                    <!-- <button type="button" class="btn btn-success btn-small" (click)="openModal(row)">Process Job
                    </button> -->
                    <button class="btn btn-red btn-small"
                            *ngIf="row && !isPageReadOnly && !row.isArchived && !isOnLateTab &&
                                  getIsModifyFunc('ProcessJob.Update') &&
                                  row.processStatus >= 0 &&
                                  (row.processStatus < 3 || row.processStatus === 7)"
                            (click)="openModal(row)">Process Job
                    </button>
                    <p (click)="openHistory(row.id)"
                       class="m-t-15 p-link">History</p>
                  </div>
                </td>
              </tr>
              <tr *ngIf="row && row.isMaintenanceJob && (row.processNumber === prs.number || !isTsc)" [id]="di + '-' + i + '-' + ii" class="dragging-schedules-finishing">
                <td *ngIf="!vendorId && !ii" [rowSpan]="schedulerGroup.data.length + 1"
                    [ngStyle]="{'min-width': getMinWidthDependFontSize(60), 'max-width': getMinWidthDependFontSize(60)}">
                  <div class="flex-box">{{row.vendorName}}</div>
                </td>
                <td *ngIf="totalColspan.first > 0" [attr.colspan]="totalColspan.first" class="maintenance-job">{{row.specialTask}}</td>
                <td *ngIf="getIsViewColumn(colProp[6])">
                  <p>{{row.scheduledQty}} units</p>
                </td>
                <td [attr.colspan]="totalColspan.second + 5" *ngIf="isTsc" class="maintenance-job">{{row.specialTask}}</td>
                <td [attr.colspan]="totalColspan.second" *ngIf="!isTsc" class="maintenance-job">{{row.specialTask}}</td>
              </tr>
              <tr class="total-piece"
                  *ngIf="!vendorId && schedulerGroup.data.length && ii === schedulerGroup.data.length - 1">
                <td *ngIf="totalColspan.first > 0" [attr.colspan]="totalColspan.first" class="align-right">VENDOR TOTAL</td>
                <td *ngIf="getIsViewColumn(colProp[6])">
                  {{schedulerGroup.sumCompQty + ' / ' + schedulerGroup.sumSchedQty}}<br/>
                  ({{(schedulerGroup.sumCompQty / schedulerGroup.sumSchedQty) * 100 | number:'1.1-1'}}%)
                </td>
                <td [attr.colspan]="totalColspan.second"></td>
              </tr>
            </ng-template>
            </ng-template>
            <tr class="process-total" *ngIf="isTsc && hasDataByProcess(schedulerGroup.data, prs.number)">
              <td [attr.colspan]="totalColspan.first" class="text-right">
                {{prs.isCustom ? ('Custom Process "' + prs.number + '"') : ('Process # ' + prs.number + ' - ' + prs.name)}} Totals
              </td>
              <td>
                {{calculateQtyByProcess(schedulerGroup.data, prs.number).comp + ' / ' + calculateQtyByProcess(schedulerGroup.data, prs.number).sched}}<br/>
                ({{(calculateQtyByProcess(schedulerGroup.data, prs.number).comp / calculateQtyByProcess(schedulerGroup.data, prs.number).sched) * 100 | number:'1.1-1'}}%)<br/>
              </td>
              <td colspan="1"></td>
              <td>{{calculateHrsByProcess(schedulerGroup.data, prs.number).hrsNeeded | hrsToHrsMin}}</td>
              <td>{{calculateHrsByProcess(schedulerGroup.data, prs.number).sumActualRT | hrsToHrsMin}}</td>
              <td [attr.colspan]="totalColspan.second + 2"></td>
            </tr>
            </ng-template>
            <tr class="total-piece"
                *ngIf="dayData.data.length && schedulerGroup.data.length &&  i === dayData.data.length - 1">
              <td *ngIf="vendorId && totalColspan.first > 0" [attr.colspan]="totalColspan.first" class="text-right">DAILY TOTAL</td>
              <td *ngIf="!vendorId" [attr.colspan]="totalColspan.first + 1" class="text-right">DAILY TOTAL</td>
              <td *ngIf="getIsViewColumn(colProp[6])">
                {{dayData.totalsCompQty + ' / ' + dayData.totalsSchedQty}}<br/>
                ({{(dayData.totalsCompQty / dayData.totalsSchedQty) * 100 | number:'1.1-1'}}%)
              </td>
              <ng-template [ngIf]="isTsc" [ngIfElse]="elseNotTsc">
                <td colspan="1"></td>
                <td>{{calculateHrsByProcess(schedulerGroup.data, null).hrsNeeded | hrsToHrsMin}}</td>
                <td>{{dayData.totalsRuntime | hrsToHrsMin}}</td>
                <td [attr.colspan]="totalColspan.second + 2"></td>
              </ng-template>
              <ng-template #elseNotTsc>
                <td [attr.colspan]="totalColspan.second + 2"></td>
              </ng-template>
          </ng-template>
          </tbody>
        </table>
      </div>
    </perfect-scrollbar>
  </div>
</div>
