<create-or-update-role>
  <button class="btn btn-complete btn-cons" (click)="onSubmit()" *ngIf="!isPageReadOnly">
    Save
  </button>
  <!--<button class="btn btn-default btn-cons" type="button" (click)="cancel()">-->
    <!--Cancel-->
  <!--</button>-->
</create-or-update-role>

<!--Show in small screen-->
<div class="row justify-center button-group-small m-t-15" *ngIf="!isPageReadOnly">
  <button class="btn btn-complete btn-cons" (click)="onSubmit()">
    Save
  </button>
  <!--<button class="btn btn-default btn-cons" type="button" (click)="cancel()">-->
    <!--Cancel-->
  <!--</button>-->
</div>
