credit-approval {
  .checkbox {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
    label {
      padding-left: 0 !important;
      margin-right: 0 !important;
      margin-bottom: 0 !important;
      top: -14px;
    }
  }

  .btn-upload {
    position: relative;
    top: 5px;
  }
}
