<div class="row" *ngIf="!isPageReadOnly">
  <div class="col-sm-12 col-md-7 col-lg-6 m-b-10">
    <button class="btn btn-complete btn-cons" (click)="addTeam()">New Team</button>
  </div>
  <div class="col-sm-12 col-md-5 col-lg-6 m-b-10">
  </div>
</div>

<ng-container *ngTemplateOutlet="pagination"></ng-container>
<perfect-scrollbar [config]="{suppressScrollX: false}">
  <div class="table-wrapper" #tableWrapper>
    <ngx-datatable #table
                   class="material ngx-table-hover"
                   [rows]="listTeamData.data"
                   [columnMode]="'flex'"
                   [footerHeight]="0"
                   [headerHeight]="'auto'"
                   [rowHeight]="'auto'"
                   [externalSorting]="true"
                   [loadingIndicator]="tableConfig.loading"
                   (activate)="onActivate($event)"
                   [sorts]="[{prop: 'name', dir: 'asc'}]"
                   (sort)="onSort($event)">
      <ngx-datatable-column
        [name]="'Name'"
        [prop]="'name'"
        [resizeable]="false"
        [minWidth]="120"
        [flexGrow]="2"
        [draggable]="false">
      </ngx-datatable-column>
      <ngx-datatable-column
        [name]="'Description'"
        [prop]="'description'"
        [minWidth]="120"
        [draggable]="false"
        [flexGrow]="2"
        [resizeable]="false">
      </ngx-datatable-column>
      <ngx-datatable-column
        [name]="'Members'"
        [prop]="'customerServiceTeams'"
        [minWidth]="180"
        [sortable]="false"
        [resizeable]="false"
        [flexGrow]="3"
        [draggable]="false">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <span>{{getCustomerServiceList(value)}}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column *ngIf="!isPageReadOnly"
                            [name]="''"
                            [minWidth]="70"
                            [sortable]="false"
                            [resizeable]="false"
                            [flexGrow]="1"
                            [cellClass]="'centerBtn'"
                            [draggable]="false">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <button
            class="btn btn-complete btn-small"
            (click)="editTeam(row)"><i class="fa fa-pencil"></i></button>
          <button class="btn btn-danger btn-small"
                  (click)="deleteSelectedRow(row)"><i class="fa fa-trash"></i></button>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</perfect-scrollbar>
<ng-container *ngTemplateOutlet="paginationTop"></ng-container>

<ng-template #pagination>
  <pagination-control [totalRecord]="listTeamData.totalRecord"
                      *ngIf="listTeamData.data && listTeamData.data.length"
                      [pageSize]="tableConfig.pageSize"
                      [currentPage]="tableConfig.currentPage"
                      (onSelectedPageSize)="onSelectedPageSize($event)"
                      (onPageChange)="onPageChange($event)"></pagination-control>
</ng-template>
<ng-template #paginationTop>
  <pagination-control [totalRecord]="listTeamData.totalRecord"
                      *ngIf="listTeamData.data && listTeamData.data.length"
                      [pageSize]="tableConfig.pageSize"
                      [currentPage]="tableConfig.currentPage"
                      [dropdownPosition]="'top-left'"
                      (onSelectedPageSize)="onSelectedPageSize($event)"
                      (onPageChange)="onPageChange($event)"></pagination-control>
</ng-template>
