sample-main {
  .dropdown-menu > li:first-child {
    padding-top: 0 !important;
  }

  #sampleDevTable perfect-scrollbar {
    .ps__rail-x {
      z-index: 102 !important;
    }
    @media (min-width: 992px) {
      .ps__rail-x {
        position: fixed !important;
        left: 85px !important;
      }
    }
    @media (max-width: 990px) {
      .ps__rail-x {
        position: fixed !important;
        left: 15px !important;
      }
    }
  }

  .full-black-bg {
    background-color: #000;
    height: 100%;
    width: 100%;
  }

  .nav {
    flex-wrap: nowrap !important;
    width: 100%;
    li {
      //min-width: 70px;
    }
    li, li > a {
      position: relative;
      display: flex;
    }
    li {
      &.active {
        overflow: visible !important;
      }
      &.disabled {
        pointer-events: none;
      }
    }
  }
  .nav-tabs {
    li {
      a {
        font-size: 12px !important;
      }
    }
    .nav-item {
      border-bottom: 1px solid #ccc;
      &.active {
        border-bottom: none;
        a {
          padding-top: 5px !important;
          border-color: #ccc !important;
          border-top: 3px solid #3c8dbc !important;
          border-bottom: 1px solid #fff !important;
        }
        span {
          font-weight: bold;
        }
      }
    }
    .nav-link:hover {
      border-color: #f3f3f3;
      font-weight: bold;
    }
  }
  .nav-tabs > li > a {
    color: #626262;
    text-transform: none;
    font-weight: inherit;
    font-family: "Segoe UI", Arial, sans-serif;
    padding: 7px 10px !important;
    font-size: 14px;
    span {
      font-weight: 400;
      white-space: nowrap;
    }
  }
  .nav-tabs > li > a:hover {
    span {
      font-weight: 600;
    }
  }
  .panel-transparent {
    width: 100%;
  }

  .dropdown-menu .checkbox {
    label {
      margin-bottom: .2rem;
      &:after {
        top: 0.5px;
      }
    }
  }

  .show-cols {
    position: absolute;
    right: 0;
    top: 3px;
  }

  .wrap-row {
    word-break: break-all;
  }

  .select-column-dropdown {
    .dropdown-menu {
      width: 320px;
      .checkbox {
        margin-bottom: 0 !important;
        margin-top: 0 !important;

        &:after {
          top: 0.5px;
        }
      }
    }
  }

  .select-size-dropdown {
    .dropdown-menu {
      width: 75px;
    }
  }

  .ngx-datatable.custom-ngx-dtb, .order-table {
    .collapse-toggle {
      transition: .3s transform ease-in-out;
    }
    .collapsed {
      transform: rotate(-90deg);
    }
    p {
      font-size: inherit !important;
      line-height: 13px !important;
    }
    .p-1 {
      //height: 100%;
      &:hover {
        .p-link, .p-link span {
          color: #48b0f7;
          text-decoration: underline;
        }
      }
    }
    .start-order {
      border-top: 3px solid #666;
    }
    th, td {
      //&:first-child {
      //  min-width: 25px;
      //  max-width: 25px;
      //}
      height: 1px;
      font-size: inherit !important;
      border: 1px solid #e2e8ec;
    }
    th {
      vertical-align: middle;
      text-align: center;
      text-transform: none !important;
      background-color: rgb(241, 241, 241) !important;
      color: rgb(102, 102, 102) !important;
      line-height: 1.125rem !important;
      padding: .5rem 0.2rem !important;
      font-weight: 600 !important;
    }
    td {
      position: relative;
      padding: 5px !important;
      vertical-align: middle;
      width: 1px;
      border-bottom: 1px solid #999 !important;
      p, span, a {
        font-weight: 700;
      }
    }

    .col-readonly {
      background: #fcfcfc !important;
      cursor: auto !important;
      height: 100%;
      &:hover {
        background-color: #fcfcfc !important;
      }
      p:hover {
        text-decoration: none !important;
        cursor: auto !important;
      }
    }

    .col-disabled {
      background: #d9d9d9 !important;
      height: 100%;
      cursor: auto;
    }

    .mbe-1 {
      margin-bottom: 0.1em !important;
    }

    .p-pos {
      position: relative;
      min-height: min-content !important;
      margin-bottom: 0;
    }

    .stt-black {
      background: inherit;
      color: #000;
    }
    .stt-lightgrey {
      background: lightgrey;
      color: #000;
    }

    .fa-check-circle-o {
      color: #10CFBD;
    }

    .fa-times-circle-o, .fa-ban {
      color: #F55753;
    }

    .fa-question-circle-o {
      &:hover {
        color: #48b0f7;
        cursor: pointer;
      }
    }

    .fa-eye {
      &:hover {
        color: blue;
        cursor: pointer;
      }
    }

    .color-lightgrey {
      color: lightgrey;
    }

    .color-black {
      color: black;
    }

    .fa-clock-o {
      color: #F8D053;
    }

    .type-domestic {
      background-color: #daeffd !important;
    }

    .type-outsource {
      background-color: #c3e6cb !important;
    }

    .type-cutandsew {
      background-color: #f8d7da !important;
    }

    .center {
      white-space: normal;
    }

    .columns-120 {
      min-width: 120px;
    }
    .columns-110 {
      min-width: 110px;
    }
    .columns-100 {
      min-width: 100px;
    }
    .columns-90 {
      min-width: 90px;
    }
    .columns-80 {
      min-width: 80px;
    }
    .columns-70 {
      min-width: 70px;
    }
    .columns-60 {
      min-width: 60px;
    }
    .columns-50 {
      min-width: 50px;
    }

    .p-eyes {
      margin-top: -10px !important;
      padding-bottom: 4px !important;
    }

    .btn-small {
      padding: 3px 2px;
      font-size: inherit;
    }

    .datatable-row-odd {
      &:hover, .datatable-body-cell {
        background-color: inherit !important;
      }
    }
  }

  .overlay-cancelled {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #bbb;
    z-index: 5;
    opacity: 0.5;
    pointer-events: none;
  }

  #header {
    position: fixed;
    top: 59px;
    z-index: 102;
  }

  .select-columns {
    position: absolute !important;
    z-index: 99;
  }

  my-date-picker {
    width: 135px;
  }

  .min-height-content {
    min-height: min-content !important;
    align-items: flex-start !important;
  }
}
