project-main {
  .ngx-datatable {
    .datatable-header-cell {
      padding: .5rem 0.2rem !important;
      font-weight: 600 !important;
      div {
        text-align: center;
        display: block !important;
      }
    }
    .datatable-body-cell {
      .datatable-body-cell-label {
        height: 100% !important;
        width: 100% !important;
        text-align: center;
        display: block !important;
      }
    }
  }
}
