folder-submitted {
  .checkbox {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
    label {
      margin-right: 0 !important;
      margin-bottom: 0 !important;
      white-space: normal;
    }
  }

  .my-textarea {
    textarea {
      min-height: 60px !important;
    }
  }
}
