<div class="modal-header">
  <h4 class="modal-title m-0 nowrap">OWS / Tech Pack Ready - Change Status</h4>
  <button type="button" class="close" aria-label="Close" (click)="onClosePopup()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="frm" role="form" novalidate="" (ngSubmit)="onSubmitForm()">
    <lead-eta [rowDetail]="rowDetail" [isPageReadOnly]="isPageReadOnly"></lead-eta>
    <div class="row flex py-1"
         [ngClass]="{'required': frm.get('formRequires').value['techPackReadyStatus'].required}">
      <div class="col-7">
        <div class="row">
          <div class="col-6 control-label text-right">
            <label>Status</label>
          </div>
          <div class="col-6"
               [ngClass]="{'has-error': !frm.get('techPackReadyStatus').valid,
                    'disabled': isPageReadOnly}">
            <ng-select [items]="statusData"
                       [placeholder]="!isPageReadOnly ? 'Status' : ''"
                       [searchable]="false" #statusSelect
                       (focus)="onSelectFocused(statusSelect)"
                       bindLabel="name"
                       bindValue="id"
                       formControlName="techPackReadyStatus">
            </ng-select>
            <label class="error"
                   *ngIf="frm.get('techPackReadyStatus').hasError('required') && !frm.get('techPackReadyStatus').pristine">
              {{validationMessages['default'].required}}</label>
          </div>
        </div>
      </div>
    </div>
    <ng-container *ngIf="frm.get('techPackReadyStatus').value && frm.get('techPackReadyStatus').value !== taskStatus.BLANK">
      <div class="row py-1">
        <div class="col-7">
          <ng-container *ngIf="frm.get('techPackReadyStatus').value === taskStatus.DONE">
            <div class="row flex py-1"
                 [ngClass]="{'required': frm.get('formRequires').value['techPackReadyDateOnUtc'].required}">
              <div class="col-6 control-label text-right">
                <label class="nowrap">OWS or Tech Pack Ready Date</label>
              </div>
              <div class="col-6"
                   [ngClass]="{'has-error':!frm.get('techPackReadyDateOnUtc').valid}">
                <my-date-picker class="flex" [options]="myTodayPickerOptions"
                                #techPackReadyDatePicker
                                formControlName='techPackReadyDate'
                                [ngClass]="{'disabled': isPageReadOnly}"
                                [disabled]="isPageReadOnly"
                                (dateChanged)="onDateChangedBy($event, 'techPackReadyDateOnUtc')"
                                (inputFieldChanged)="myDatePickerService.onInputFieldChanged($event, techPackReadyDatePicker)"
                                (inputFocusBlur)="myDatePickerService.onInputFocusBlur($event, techPackReadyDatePicker, frm.get('techPackReadyDateOnUtc'))"></my-date-picker>
                <label class="error"
                       *ngIf="frm.get('techPackReadyDateOnUtc').hasError('required') && !frm.get('techPackReadyDateOnUtc').pristine">
                  {{validationMessages['default'].required}}</label>
                <label class="error"
                       *ngIf="frm.get('techPackReadyDateOnUtc').hasError('maxDate') && !frm.get('techPackReadyDateOnUtc').pristine">
                  {{validationMessages['default'].maxLength}}
                </label>
              </div>
            </div>
            <div class="row flex py-1"
                 [ngClass]="{'required': false}">
              <div class="col-6 control-label text-right">
                <label>OWS / Tech Pack(s)</label>
              </div>
              <div class="col-6">
                <div class="input-group">
                <span class="input-group-addon cursor" (click)="openUploader(frm)"
                      *ngIf="!isPageReadOnly && !checkLengthUploaderByType(frm)">
                  <i class="fa fa-upload" aria-hidden="true"></i>
                </span>
                  <span class="input-group-addon cursor"
                        [ngClass]="{'disabled': isPageReadOnly}"
                        (click)="openUploader(frm)"
                        *ngIf="checkLengthUploaderByType(frm)">
                  <i class="fa fa-eye" [ngStyle]="{'top': '-1px'}" aria-hidden="true"></i>
                </span>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </ng-container>
  </form>
</div>
<div class="modal-footer">
  <ng-container *ngIf="!isPageReadOnly">
    <button class="btn btn-complete"
            (click)="onSubmitForm()">
      Save
    </button>
  </ng-container>
  <button class="btn btn-default"
          (click)="onClosePopup()">
    Cancel
  </button>
</div>

