<div class="px-3 py-2">
  <form [formGroup]="frm" role="form" novalidate="">
    <!-- <div class="row">
      <div class="col-lg-12 general-title">
        <span class="bold">Shipping</span>
      </div>
    </div> -->
    <div class="row">
      <div class="col-lg-3">
        <div class="row flex py-1">
          <div class="col-sm-4 control-label text-right">
            <label class="bold">Billing</label>
          </div>
          <div class="col-sm-7"></div>
        </div>
        <div class="row flex py-1"
             [ngClass]="{'required': frm.get('formRequires').value['billCustomer'].required}">
          <div class="col-sm-4 control-label text-right">
            <label>Bill Customer</label>
          </div>
          <div class="col-sm-7"
               [ngClass]="{'has-error':!frm.get('billCustomer').valid,
                   'disabled': isPageReadOnly || isStyleReadOnly || isStyleCancelled || isOrderArchived || isOrderCancelled}">
            <ng-select [items]="confirmData" #confirmSelect
                       [virtualScroll]="true"
                       [searchable]="false"
                       [placeholder]="!isPageReadOnly && !isStyleReadOnly && !isStyleCancelled && !isOrderArchived && !isOrderCancelled ? 'Bill Customer' : ''"
                       (focus)="onSelectFocused(confirmSelect)"
                       bindLabel="name"
                       bindValue="id"
                       formControlName="billCustomer"></ng-select>
            <label class="error"
                   *ngIf="frm.get('billCustomer').hasError('required') && !frm.get('billCustomer').pristine">
              {{validationMessages['billCustomer'].required}}</label>
          </div>
        </div>
        <div class="row flex py-1"
             [ngClass]="{'required': frm.get('formRequires').value['accountType'].required}">
          <div class="col-sm-4 control-label text-right">
            <label>Account Type</label>
          </div>
          <div class="col-sm-7"
               [ngClass]="{'has-error':!frm.get('accountType').valid,
                   'disabled': isPageReadOnly || isStyleReadOnly || isStyleCancelled || isOrderArchived || isOrderCancelled}">
            <ng-select [items]="accountTypeData" #accountTypeSelect
                       [virtualScroll]="true"
                       [placeholder]="!isPageReadOnly && !isStyleReadOnly && !isStyleCancelled && !isOrderArchived && !isOrderCancelled ? 'Account Type' : ''"
                       (focus)="onSelectFocused(accountTypeSelect)"
                       (add)="onSelectItem($event, frm, 'id', 'accountType')"
                       bindLabel="name"
                       bindValue="id"
                       formControlName="accountType"></ng-select>
            <label class="error"
                   *ngIf="frm.get('accountType').hasError('required') && !frm.get('accountType').pristine">
              {{validationMessages['accountType'].required}}</label>
          </div>
        </div>
        <ng-template [ngIf]="frm.get('accountType').value === 3">
          <div class="row flex py-1"
               [ngClass]="{'required': frm.get('formRequires').value['customerAccount'].required}">
            <div class="col-sm-4 control-label text-right">
              <label>Customer Account #</label>
            </div>
            <div class="col-sm-7"
                 [ngClass]="{'has-error':!frm.get('customerAccount').valid}">
              <ng-select [items]="serverSideshipNameData" #customerAccount
                        [typeahead]="customerAccountTypeahead"
                        [placeholder]="!isPageReadOnly && !isStyleReadOnly && !isStyleCancelled && !isOrderArchived && !isOrderCancelled ? 'Customer Account #' : ''"
                        [virtualScroll]="true"
                        (focus)="onSelectFocused(customerAccount)"
                        (add)="onSelectItem($event, frm, 'customerAccount', 'customerAccount', 0)"
                        (open)="customerAccount.filterValue = !!frm.get('customerAccount').value ? frm.get('customerAccount').value : ''"
                        (clear)="frm.get('customerAccount').patchValue(null)"
                        [addTag]="true"
                        bindLabel="customerAccount"
                        bindValue="customerAccount"
                        formControlName="customerAccount">
              </ng-select>
              <label class="error"
                     *ngIf="frm.get('customerAccount').hasError('required') && !frm.get('customerAccount').pristine">
                {{validationMessages['customerAccount'].required}}</label>
            </div>
          </div>
          <div class="row flex py-1"
               [ngClass]="{'required': frm.get('formRequires').value['billingName'].required}">
            <div class="col-sm-4 control-label text-right">
              <label>Name</label>
            </div>
            <div class="col-sm-7"
                 [ngClass]="{'has-error':!frm.get('billingName').valid}">
              <ng-select [items]="serverSideshipNameData" #billingName
                        [typeahead]="shipNameTypeahead"
                        [placeholder]="!isPageReadOnly && !isStyleReadOnly && !isStyleCancelled && !isOrderArchived && !isOrderCancelled ? 'Name' : ''"
                        [virtualScroll]="true"
                        (focus)="onSelectFocused(billingName)"
                        (add)="onSelectItem($event, frm, 'name', 'billingName', 1)"
                        (open)="billingName.filterValue = !!frm.get('billingName').value ? frm.get('billingName').value : ''"
                        (clear)="frm.get('billingName').patchValue(null)"
                        [addTag]="true"
                        bindLabel="name"
                        bindValue="name"
                        formControlName="billingName">
              </ng-select>
              <label class="error"
                     *ngIf="frm.get('billingName').hasError('required') && !frm.get('billingName').pristine">
                {{validationMessages['billingName'].required}}</label>
            </div>
          </div>
          <div class="row flex py-1"
               [ngClass]="{'required': frm.get('formRequires').value['billingAddress1'].required}">
            <div class="col-sm-4 control-label text-right">
              <label>Address 1</label>
            </div>
            <div class="col-sm-7"
                 [ngClass]="{'has-error':!frm.get('billingAddress1').valid}">
              <input formControlName='billingAddress1'
                     type="text"
                     [placeholder]="!isPageReadOnly && !isStyleReadOnly && !isStyleCancelled && !isOrderArchived && !isOrderCancelled ? 'Address 1' : ''"
                     [attr.disabled]="isPageReadOnly || isStyleReadOnly || isStyleCancelled || isOrderArchived || isOrderCancelled ? true : null"
                     class="form-control">
              <label class="error"
                     *ngIf="frm.get('billingAddress1').hasError('required') && !frm.get('billingAddress1').pristine">
                {{validationMessages['billingAddress1'].required}}</label>
            </div>
          </div>
          <div class="row flex py-1">
            <div class="col-sm-4 control-label text-right">
              <label>Address 2</label>
            </div>
            <div class="col-sm-7">
              <input formControlName='billingAddress2'
                     type="text"
                     [placeholder]="!isPageReadOnly && !isStyleReadOnly && !isStyleCancelled && !isOrderArchived && !isOrderCancelled ? 'Address 2' : ''"
                     [attr.disabled]="isPageReadOnly || isStyleReadOnly || isStyleCancelled || isOrderArchived || isOrderCancelled ? true : null"
                     class="form-control">
            </div>
          </div>
          <div class="row flex py-1"
               [ngClass]="{'required': frm.get('formRequires').value['billingCity'].required}">
            <div class="col-sm-4 control-label text-right">
              <label>City</label>
            </div>
            <div class="col-sm-7"
                 [ngClass]="{'has-error':!frm.get('billingCity').valid}">
              <input formControlName='billingCity'
                     type="text"
                     [placeholder]="!isPageReadOnly && !isStyleReadOnly && !isStyleCancelled && !isOrderArchived && !isOrderCancelled ? 'City' : ''"
                     [attr.disabled]="isPageReadOnly || isStyleReadOnly || isStyleCancelled || isOrderArchived || isOrderCancelled ? true : null"
                     class="form-control">
              <label class="error"
                     *ngIf="frm.get('billingCity').hasError('required') && !frm.get('billingCity').pristine">
                {{validationMessages['billingCity'].required}}</label>
            </div>
          </div>
          <div class="row flex py-1"
               [ngClass]="{'required': frm.get('formRequires').value['billingState'].required}">
            <div class="col-sm-4 control-label text-right">
              <label>State</label>
            </div>
            <div class="col-sm-7"
                 [ngClass]="{'has-error':!frm.get('billingState').valid}">
              <input formControlName='billingState'
                     type="text"
                     [placeholder]="!isPageReadOnly && !isStyleReadOnly && !isStyleCancelled && !isOrderArchived && !isOrderCancelled ? 'State' : ''"
                     [attr.disabled]="isPageReadOnly || isStyleReadOnly || isStyleCancelled || isOrderArchived || isOrderCancelled ? true : null"
                     class="form-control">
              <label class="error"
                     *ngIf="frm.get('billingState').hasError('required') && !frm.get('billingState').pristine">
                {{validationMessages['billingState'].required}}</label>
            </div>
          </div>
          <div class="row flex py-1"
               [ngClass]="{'required': frm.get('formRequires').value['billingZip'].required}">
            <div class="col-sm-4 control-label text-right">
              <label>Zip</label>
            </div>
            <div class="col-sm-7"
                 [ngClass]="{'has-error':!frm.get('billingZip').valid}">
              <input formControlName='billingZip'
                     type="text"
                     [placeholder]="!isPageReadOnly && !isStyleReadOnly && !isStyleCancelled && !isOrderArchived && !isOrderCancelled ? 'Zip' : ''"
                     [attr.disabled]="isPageReadOnly || isStyleReadOnly || isStyleCancelled || isOrderArchived || isOrderCancelled ? true : null"
                     class="form-control">
              <label class="error"
                     *ngIf="frm.get('billingZip').hasError('required') && !frm.get('billingZip').pristine">
                {{validationMessages['billingZip'].required}}</label>
            </div>
          </div>
          <div class="row flex py-1"
               [ngClass]="{'required': frm.get('formRequires').value['billingPhone'].required}">
            <div class="col-sm-4 control-label text-right">
              <label>Phone</label>
            </div>
            <div class="col-sm-7"
                 [ngClass]="{'has-error':!frm.get('billingPhone').valid}">
              <input formControlName='billingPhone'
                     type="text"
                     [placeholder]="!isPageReadOnly && !isStyleReadOnly && !isStyleCancelled && !isOrderArchived && !isOrderCancelled ? 'Phone' : ''"
                     [attr.disabled]="isPageReadOnly || isStyleReadOnly || isStyleCancelled || isOrderArchived || isOrderCancelled ? true : null"
                     class="form-control">
              <label class="error"
                     *ngIf="frm.get('billingPhone').hasError('required') && !frm.get('billingPhone').pristine">
                {{validationMessages['billingPhone'].required}}</label>
            </div>
          </div>
        </ng-template>
        <div class="row flex py-1" *ngIf="frm.get('accountType').value !== 2">
          <div class="col-sm-4 control-label text-right">
            <label>Freight Cost</label>
          </div>
          <div class="col-sm-7">
            <input formControlName='freightCost'
                   type="text"
                   [placeholder]="!isPageReadOnly && !isStyleReadOnly && !isStyleCancelled && !isOrderArchived && !isOrderCancelled ? 'Freight Cost' : ''"
                   [attr.disabled]="isPageReadOnly || isStyleReadOnly || isStyleCancelled || isOrderArchived || isOrderCancelled ? true : null"
                   class="form-control">
            <label class="error"
                   *ngIf="frm.get('freightCost').hasError('pattern') && !frm.get('freightCost').pristine">
              {{validationMessages['freightCost'].pattern}}</label>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="row flex py-1">
          <div class="col-sm-4 control-label text-right">
            <label class="bold">Ship From</label>
          </div>
          <div class="col-sm-7"></div>
        </div>
        <div class="row flex py-1"
             [ngClass]="{'required': frm.get('formRequires').value['shipFromName'].required}">
          <div class="col-sm-4 control-label text-right">
            <label>Name</label>
          </div>
          <div class="col-sm-7"
               [ngClass]="{'has-error':!frm.get('shipFromName').valid}">
            <ng-select [items]="serverSideshipNameData" #shipFromName
                      [typeahead]="shipNameTypeahead"
                      [placeholder]="!isPageReadOnly && !isStyleReadOnly && !isStyleCancelled && !isOrderArchived && !isOrderCancelled ? 'Name' : ''"
                      [virtualScroll]="true"
                      (focus)="onSelectFocused(shipFromName)"
                      (add)="onSelectItem($event, frm, 'name', 'shipFromName', 2)"
                      (open)="shipFromName.filterValue = !!frm.get('shipFromName').value ? frm.get('shipFromName').value : ''"
                      (clear)="frm.get('shipFromName').patchValue(null)"
                      [addTag]="true"
                      bindLabel="name"
                      bindValue="name"
                      formControlName="shipFromName">
            </ng-select>
            <label class="error"
                   *ngIf="frm.get('shipFromName').hasError('required') && !frm.get('shipFromName').pristine">
              {{validationMessages['shipFromName'].required}}</label>
          </div>
        </div>
        <div class="row flex py-1"
             [ngClass]="{'required': frm.get('formRequires').value['shipFromAddress1'].required}">
          <div class="col-sm-4 control-label text-right">
            <label>Address 1</label>
          </div>
          <div class="col-sm-7"
               [ngClass]="{'has-error':!frm.get('shipFromAddress1').valid}">
            <input formControlName='shipFromAddress1'
                   type="text"
                   [placeholder]="!isPageReadOnly && !isStyleReadOnly && !isStyleCancelled && !isOrderArchived && !isOrderCancelled ? 'Address 1' : ''"
                   [attr.disabled]="isPageReadOnly || isStyleReadOnly || isStyleCancelled || isOrderArchived || isOrderCancelled ? true : null"
                   class="form-control">
            <label class="error"
                   *ngIf="frm.get('shipFromAddress1').hasError('required') && !frm.get('shipFromAddress1').pristine">
              {{validationMessages['shipFromAddress1'].required}}</label>
          </div>
        </div>
        <div class="row flex py-1">
          <div class="col-sm-4 control-label text-right">
            <label>Address 2</label>
          </div>
          <div class="col-sm-7">
            <input formControlName='shipFromAddress2'
                   type="text"
                   [placeholder]="!isPageReadOnly && !isStyleReadOnly && !isStyleCancelled && !isOrderArchived && !isOrderCancelled ? 'Address 2' : ''"
                   [attr.disabled]="isPageReadOnly || isStyleReadOnly || isStyleCancelled || isOrderArchived || isOrderCancelled ? true : null"
                   class="form-control">
          </div>
        </div>
        <div class="row flex py-1"
             [ngClass]="{'required': frm.get('formRequires').value['shipFromCity'].required}">
          <div class="col-sm-4 control-label text-right">
            <label>City</label>
          </div>
          <div class="col-sm-7"
               [ngClass]="{'has-error':!frm.get('shipFromCity').valid}">
            <input formControlName='shipFromCity'
                   type="text"
                   [placeholder]="!isPageReadOnly && !isStyleReadOnly && !isStyleCancelled && !isOrderArchived && !isOrderCancelled ? 'City' : ''"
                   [attr.disabled]="isPageReadOnly || isStyleReadOnly || isStyleCancelled || isOrderArchived || isOrderCancelled ? true : null"
                   class="form-control">
            <label class="error"
                   *ngIf="frm.get('shipFromCity').hasError('required') && !frm.get('shipFromCity').pristine">
              {{validationMessages['shipFromCity'].required}}</label>
          </div>
        </div>
        <div class="row flex py-1"
             [ngClass]="{'required': frm.get('formRequires').value['shipFromState'].required}">
          <div class="col-sm-4 control-label text-right">
            <label>State</label>
          </div>
          <div class="col-sm-7"
               [ngClass]="{'has-error':!frm.get('shipFromState').valid}">
            <input formControlName='shipFromState'
                   type="text"
                   [placeholder]="!isPageReadOnly && !isStyleReadOnly && !isStyleCancelled && !isOrderArchived && !isOrderCancelled ? 'State' : ''"
                   [attr.disabled]="isPageReadOnly || isStyleReadOnly || isStyleCancelled || isOrderArchived || isOrderCancelled ? true : null"
                   class="form-control">
            <label class="error"
                   *ngIf="frm.get('shipFromState').hasError('required') && !frm.get('shipFromState').pristine">
              {{validationMessages['shipFromState'].required}}</label>
          </div>
        </div>
        <div class="row flex py-1"
             [ngClass]="{'required': frm.get('formRequires').value['shipFromZip'].required}">
          <div class="col-sm-4 control-label text-right">
            <label>Zip</label>
          </div>
          <div class="col-sm-7"
               [ngClass]="{'has-error':!frm.get('shipFromZip').valid}">
            <input formControlName='shipFromZip'
                   type="text"
                   [placeholder]="!isPageReadOnly && !isStyleReadOnly && !isStyleCancelled && !isOrderArchived && !isOrderCancelled ? 'Zip' : ''"
                   [attr.disabled]="isPageReadOnly || isStyleReadOnly || isStyleCancelled || isOrderArchived || isOrderCancelled ? true : null"
                   class="form-control">
            <label class="error"
                   *ngIf="frm.get('shipFromZip').hasError('required') && !frm.get('shipFromZip').pristine">
              {{validationMessages['shipFromZip'].required}}</label>
          </div>
        </div>
        <div class="row flex py-1"
             [ngClass]="{'required': frm.get('formRequires').value['shipFromPhone'].required}">
          <div class="col-sm-4 control-label text-right">
            <label>Phone</label>
          </div>
          <div class="col-sm-7"
               [ngClass]="{'has-error':!frm.get('shipFromPhone').valid}">
            <input formControlName='shipFromPhone'
                   type="text"
                   [placeholder]="!isPageReadOnly && !isStyleReadOnly && !isStyleCancelled && !isOrderArchived && !isOrderCancelled ? 'Phone' : ''"
                   [attr.disabled]="isPageReadOnly || isStyleReadOnly || isStyleCancelled || isOrderArchived || isOrderCancelled ? true : null"
                   class="form-control">
            <label class="error"
                   *ngIf="frm.get('shipFromPhone').hasError('required') && !frm.get('shipFromPhone').pristine">
              {{validationMessages['shipFromPhone'].required}}</label>
          </div>
        </div>
        <div class="row flex py-1 m-t-15">
          <div class="col-sm-4 control-label text-right">
            <label>Prepared By</label>
          </div>
          <div class="col-sm-7" [ngClass]="{'disabled': isPageReadOnly || isStyleReadOnly || isStyleCancelled || isOrderArchived || isOrderCancelled}">
            <ng-select [items]="shippingUser" #shippingUserSelect
                       [virtualScroll]="true"
                       [placeholder]="!isPageReadOnly && !isStyleReadOnly && !isStyleCancelled && !isOrderArchived && !isOrderCancelled ? 'Prepared By' : ''"
                       (focus)="onSelectFocused(shippingUserSelect)"
                       (open)="shippingUserSelect.filterValue = !!frm.get('preparedById').value ? frm.get('preparedByName').value : ''"
                       (add)="onSelectItem($event, frm, 'fullName', 'preparedByName')"
                       (clear)="frm.get('preparedByName').patchValue('')"
                       bindLabel="fullName"
                       bindValue="id"
                       formControlName="preparedById"></ng-select>
          </div>
        </div>
        <div class="row flex py-1">
          <div class="col-sm-4 control-label text-right">
            <label>Approved By</label>
          </div>
          <div class="col-sm-7" [ngClass]="{'disabled': isPageReadOnly || isStyleReadOnly || isStyleCancelled || isOrderArchived || isOrderCancelled}">
            <ng-select [items]="approvedData" #approvedSelect
                       [virtualScroll]="true"
                       [placeholder]="!isPageReadOnly && !isStyleReadOnly && !isStyleCancelled && !isOrderArchived && !isOrderCancelled ? 'Approved By' : ''"
                       (focus)="onSelectFocused(approvedSelect)"
                       (open)="approvedSelect.filterValue = !!frm.get('approvedById').value ? frm.get('approvedByName').value : ''"
                       (add)="onSelectItem($event, frm, 'fullName', 'approvedByName')"
                       (clear)="frm.get('approvedByName').patchValue('')"
                       bindLabel="fullName"
                       bindValue="id"
                       formControlName="approvedById"></ng-select>
          </div>
        </div>
        <div class="row flex py-1 m-t-15">
          <div class="col-sm-4 control-label text-right">
            <label>Date Shipped</label>
          </div>
          <div class="col-sm-7">
            <my-date-picker [options]="myDatePickerOptions"
                            #dateShippedDatePicker
                            formControlName='shipFromDateShipped'
                            [disabled]="isPageReadOnly || isStyleReadOnly || isStyleCancelled || isOrderArchived || isOrderCancelled"
                            [ngClass]="{'disabled': isPageReadOnly || isStyleReadOnly || isStyleCancelled || isOrderArchived || isOrderCancelled}"
                            (dateChanged)="onDateChangedBy($event, 'shipFromDateShippedOnUtc')"
                            (inputFieldChanged)="myDatePickerService.onInputFieldChanged($event, dateShippedDatePicker)"
                            (inputFocusBlur)="myDatePickerService.onInputFocusBlur($event, dateShippedDatePicker, frm.get('shipFromDateShippedOnUtc'))"></my-date-picker>

            <label class="error"
                   *ngIf="frm.get('shipFromDateShippedOnUtc').hasError('required') && !frm.get('shipFromDateShippedOnUtc').pristine">
              {{validationMessages['default'].required}}</label>
          </div>
        </div>
        <div class="row flex py-1">
          <div class="col-sm-4 control-label text-right">
            <label>Qty Shipped</label>
          </div>
          <div class="col-sm-7">
            <input formControlName='qtyShipped'
                   type="text"
                   [placeholder]="!isPageReadOnly && !isStyleReadOnly && !isStyleCancelled && !isOrderArchived && !isOrderCancelled ? 'Qty Shipped' : ''"
                   [attr.disabled]="isPageReadOnly || isStyleReadOnly || isStyleCancelled || isOrderArchived || isOrderCancelled ? true : null"
                   class="form-control">
          </div>
        </div>
        <div class="row flex py-1">
          <div class="col-sm-4 control-label text-right">
            <label>Comments</label>
          </div>
          <div class="col-sm-7 my-textarea">
            <textarea formControlName='comments'
                      type="text"
                      [placeholder]="!isPageReadOnly && !isStyleReadOnly && !isStyleCancelled && !isOrderArchived && !isOrderCancelled ? 'Comments' : ''"
                      [attr.disabled]="isPageReadOnly || isStyleReadOnly || isStyleCancelled || isOrderArchived || isOrderCancelled ? true : null"
                      class="form-control"></textarea>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="row flex py-1">
          <div class="col-sm-4 control-label text-right">
            <label class="bold">Ship To</label>
          </div>
          <div class="col-sm-7">
            <div class="checkbox mt-0 mb-0 shipto-tbd">
              <input type="checkbox" [id]="show-ship-to"
                      [attr.disabled]="isPageReadOnly || isStyleReadOnly || isStyleCancelled || isOrderArchived || isOrderCancelled ? true : null"
                      [checked]="frm.get('isShipToTbd').value"
                      (change)="onSelectShipToTBD($event, frm)">
              <label class="style-label" [for]="show-ship-to">
                TBD
              </label>
            </div>
          </div>
        </div>
        <ng-template [ngIf]="!frm.get('isShipToTbd').value">
          <div class="row flex py-1"
              [ngClass]="{'required': frm.get('formRequires').value['shipToName'].required}">
            <div class="col-sm-4 control-label text-right">
              <label>Name</label>
            </div>
            <div class="col-sm-7"
                [ngClass]="{'has-error':!frm.get('shipToName').valid}">
              <ng-select [items]="serverSideshipNameData" #shipToName
                        [typeahead]="shipNameTypeahead"
                        [placeholder]="!isPageReadOnly && !isStyleReadOnly && !isStyleCancelled && !isOrderArchived && !isOrderCancelled ? 'Name' : ''"
                        [virtualScroll]="true"
                        (focus)="onSelectFocused(shipToName)"
                        (add)="onSelectItem($event, frm, 'name', 'shipToName', 3)"
                        (open)="shipToName.filterValue = !!frm.get('shipToName').value ? frm.get('shipToName').value : ''"
                        (clear)="frm.get('shipToName').patchValue(null)"
                        [addTag]="true"
                        bindLabel="name"
                        bindValue="name"
                        formControlName="shipToName">
              </ng-select>
              <label class="error"
                    *ngIf="frm.get('shipToName').hasError('required') && !frm.get('shipToName').pristine">
                {{validationMessages['shipToName'].required}}</label>
            </div>
          </div>
          <div class="row flex py-1"
              [ngClass]="{'required': frm.get('formRequires').value['shipToAddress1'].required}">
            <div class="col-sm-4 control-label text-right">
              <label>Address 1</label>
            </div>
            <div class="col-sm-7"
                [ngClass]="{'has-error':!frm.get('shipToAddress1').valid}">
              <input formControlName='shipToAddress1'
                    type="text"
                    [placeholder]="!isPageReadOnly && !isStyleReadOnly && !isStyleCancelled && !isOrderArchived && !isOrderCancelled ? 'Address 1' : ''"
                    [attr.disabled]="isPageReadOnly || isStyleReadOnly || isStyleCancelled || isOrderArchived || isOrderCancelled ? true : null"
                    class="form-control">
              <label class="error"
                    *ngIf="frm.get('shipToAddress1').hasError('required') && !frm.get('shipToAddress1').pristine">
                {{validationMessages['shipToAddress1'].required}}</label>
            </div>
          </div>
          <div class="row flex py-1">
            <div class="col-sm-4 control-label text-right">
              <label>Address 2</label>
            </div>
            <div class="col-sm-7">
              <input formControlName='shipToAddress2'
                    type="text"
                    [placeholder]="!isPageReadOnly && !isStyleReadOnly && !isStyleCancelled && !isOrderArchived && !isOrderCancelled ? 'Address 2' : ''"
                    [attr.disabled]="isPageReadOnly || isStyleReadOnly || isStyleCancelled || isOrderArchived || isOrderCancelled ? true : null"
                    class="form-control">
            </div>
          </div>
          <div class="row flex py-1"
              [ngClass]="{'required': frm.get('formRequires').value['shipToCity'].required}">
            <div class="col-sm-4 control-label text-right">
              <label>City</label>
            </div>
            <div class="col-sm-7"
                [ngClass]="{'has-error':!frm.get('shipToCity').valid}">
              <input formControlName='shipToCity'
                    type="text"
                    [placeholder]="!isPageReadOnly && !isStyleReadOnly && !isStyleCancelled && !isOrderArchived && !isOrderCancelled ? 'City' : ''"
                    [attr.disabled]="isPageReadOnly || isStyleReadOnly || isStyleCancelled || isOrderArchived || isOrderCancelled ? true : null"
                    class="form-control">
              <label class="error"
                    *ngIf="frm.get('shipToCity').hasError('required') && !frm.get('shipToCity').pristine">
                {{validationMessages['shipToCity'].required}}</label>
            </div>
          </div>
          <div class="row flex py-1"
              [ngClass]="{'required': frm.get('formRequires').value['shipToState'].required}">
            <div class="col-sm-4 control-label text-right">
              <label>State</label>
            </div>
            <div class="col-sm-7"
                [ngClass]="{'has-error':!frm.get('shipToState').valid}">
              <input formControlName='shipToState'
                    type="text"
                    [placeholder]="!isPageReadOnly && !isStyleReadOnly && !isStyleCancelled && !isOrderArchived && !isOrderCancelled ? 'State' : ''"
                    [attr.disabled]="isPageReadOnly || isStyleReadOnly || isStyleCancelled || isOrderArchived || isOrderCancelled ? true : null"
                    class="form-control">
              <label class="error"
                    *ngIf="frm.get('shipToState').hasError('required') && !frm.get('shipToState').pristine">
                {{validationMessages['shipToState'].required}}</label>
            </div>
          </div>
          <div class="row flex py-1"
              [ngClass]="{'required': frm.get('formRequires').value['shipToZip'].required}">
            <div class="col-sm-4 control-label text-right">
              <label>Zip</label>
            </div>
            <div class="col-sm-7"
                [ngClass]="{'has-error':!frm.get('shipToZip').valid}">
              <input formControlName='shipToZip'
                    type="text"
                    [placeholder]="!isPageReadOnly && !isStyleReadOnly && !isStyleCancelled && !isOrderArchived && !isOrderCancelled ? 'Zip' : ''"
                    [attr.disabled]="isPageReadOnly || isStyleReadOnly || isStyleCancelled || isOrderArchived || isOrderCancelled ? true : null"
                    class="form-control">
              <label class="error"
                    *ngIf="frm.get('shipToZip').hasError('required') && !frm.get('shipToZip').pristine">
                {{validationMessages['shipToZip'].required}}</label>
            </div>
          </div>
          <div class="row flex py-1"
              [ngClass]="{'required': frm.get('formRequires').value['shipToPhone'].required}">
            <div class="col-sm-4 control-label text-right">
              <label>Phone</label>
            </div>
            <div class="col-sm-7"
                [ngClass]="{'has-error':!frm.get('shipToPhone').valid}">
              <input formControlName='shipToPhone'
                    type="text"
                    [placeholder]="!isPageReadOnly && !isStyleReadOnly && !isStyleCancelled && !isOrderArchived && !isOrderCancelled ? 'Phone' : ''"
                    [attr.disabled]="isPageReadOnly || isStyleReadOnly || isStyleCancelled || isOrderArchived || isOrderCancelled ? true : null"
                    class="form-control">
              <label class="error"
                    *ngIf="frm.get('shipToPhone').hasError('required') && !frm.get('shipToPhone').pristine">
                {{validationMessages['shipToPhone'].required}}</label>
            </div>
          </div>
          <div class="row flex py-1"
              [ngClass]="{'required': frm.get('formRequires').value['shipToPO'].required}">
            <div class="col-sm-4 control-label text-right">
              <label>PO #</label>
            </div>
            <div class="col-sm-7"
                [ngClass]="{'has-error':!frm.get('shipToPO').valid}">
              <input formControlName='shipToPO'
                    type="text"
                    [placeholder]="!isPageReadOnly && !isStyleReadOnly && !isStyleCancelled && !isOrderArchived && !isOrderCancelled ? 'PO #' : ''"
                    [attr.disabled]="isPageReadOnly || isStyleReadOnly || isStyleCancelled || isOrderArchived || isOrderCancelled ? true : null"
                    class="form-control">
              <label class="error"
                    *ngIf="frm.get('shipToPO').hasError('required') && !frm.get('shipToPO').pristine">
                {{validationMessages['shipToPO'].required}}</label>
            </div>
          </div>
          <div class="row flex py-1">
            <div class="col-sm-4 control-label text-right">
              <label>Ref 2</label>
            </div>
            <div class="col-sm-7">
              <input formControlName='shipToRef2'
                    type="text"
                    [placeholder]="!isPageReadOnly && !isStyleReadOnly && !isStyleCancelled && !isOrderArchived && !isOrderCancelled ? 'Ref 2' : ''"
                    [attr.disabled]="isPageReadOnly || isStyleReadOnly || isStyleCancelled || isOrderArchived || isOrderCancelled ? true : null"
                    class="form-control">
            </div>
          </div>
          <div class="row flex py-1">
            <div class="col-sm-4 control-label text-right">
              <label>Ref 3</label>
            </div>
            <div class="col-sm-7">
              <input formControlName='shipToRef3'
                    type="text"
                    [placeholder]="!isPageReadOnly && !isStyleReadOnly && !isStyleCancelled && !isOrderArchived && !isOrderCancelled ? 'Ref 3' : ''"
                    [attr.disabled]="isPageReadOnly || isStyleReadOnly || isStyleCancelled || isOrderArchived || isOrderCancelled ? true : null"
                    class="form-control">
            </div>
          </div>
          <div class="row flex py-1"
              [ngClass]="{'required': frm.get('formRequires').value['shipToCarrierName'].required}">
            <div class="col-sm-4 control-label text-right">
              <label>Carrier</label>
            </div>
            <div class="col-sm-7"
                [ngClass]="{'has-error':!frm.get('shipToCarrierName').valid,
                'disabled': isPageReadOnly || isStyleReadOnly || isStyleCancelled || isOrderArchived || isOrderCancelled}">
            <ng-select [items]="shippingCarrier" #shippingCarrierSelect
                      [virtualScroll]="true"
                      [placeholder]="!isPageReadOnly && !isStyleReadOnly && !isStyleCancelled && !isOrderArchived && !isOrderCancelled ? 'Carrier' : ''"
                      (focus)="onSelectFocused(shippingCarrierSelect)"
                      (open)="shippingCarrierSelect.filterValue = !!frm.get('shipToCarrierId').value ? frm.get('shipToCarrierName').value : ''"
                      (add)="onSelectItem($event, frm, 'name', 'shipToCarrierName')"
                      (clear)="frm.get('shipToCarrierName').patchValue('')"
                      bindLabel="name"
                      bindValue="id"
                      formControlName="shipToCarrierId"></ng-select>
              <label class="error"
                    *ngIf="frm.get('shipToCarrierName').hasError('required') && !frm.get('shipToCarrierName').pristine">
                {{validationMessages['shipToCarrierName'].required}}</label>
            </div>
          </div>
          <div class="row flex py-1" *ngIf="frm.get('shipToCarrierId').value"
              [ngClass]="{'required': frm.get('formRequires').value['shipToMethodName'].required}">
            <div class="col-sm-4 control-label text-right">
              <label>Service</label>
            </div>
            <div class="col-sm-7"
                [ngClass]="{'has-error':!frm.get('shipToMethodName').valid,
                'disabled': isPageReadOnly || isStyleReadOnly || isStyleCancelled || isOrderArchived || isOrderCancelled}">
              <ng-select [items]="shippingCarrierSv" #carrierSv
                        [virtualScroll]="true"
                        [placeholder]="!isPageReadOnly && !isStyleReadOnly && !isStyleCancelled && !isOrderArchived && !isOrderCancelled ? 'Service' : ''"
                        (focus)="onSelectFocused(carrierSv)"
                        (open)="carrierSv.filterValue = !!frm.get('shipToMethodId').value ? frm.get('shipToMethodName').value : ''"
                        (add)="onSelectItem($event, frm, 'name', 'shipToMethodName')"
                        (clear)="frm.get('shipToMethodName').patchValue('')"
                        bindLabel="name"
                        bindValue="id"
                        formControlName="shipToMethodId"></ng-select>
              <label class="error"
                    *ngIf="frm.get('shipToMethodName').hasError('required') && !frm.get('shipToMethodName').pristine">
                {{validationMessages['shipToMethodName'].required}}</label>
            </div>
          </div>
          <div class="row flex py-1"
              [ngClass]="{'required': frm.get('formRequires').value['shipToSaturdayDelivery'].required}">
            <div class="col-sm-4 control-label text-right">
              <label>Saturday Delivery</label>
            </div>
            <div class="col-sm-7"
                [ngClass]="{'has-error':!frm.get('shipToSaturdayDelivery').valid,
                'disabled': isPageReadOnly || isStyleReadOnly || isStyleCancelled || isOrderArchived || isOrderCancelled}">
              <ng-select [items]="confirmData" #confirm2Select
                        [virtualScroll]="true"
                        [searchable]="false"
                        [placeholder]="!isPageReadOnly && !isStyleReadOnly && !isStyleCancelled && !isOrderArchived && !isOrderCancelled ? 'Saturday Delivery' : ''"
                        (focus)="onSelectFocused(confirm2Select)"
                        bindLabel="name"
                        bindValue="id"
                        formControlName="shipToSaturdayDelivery"></ng-select>
              <label class="error"
                    *ngIf="frm.get('shipToSaturdayDelivery').hasError('required') && !frm.get('shipToSaturdayDelivery').pristine">
                {{validationMessages['shipToSaturdayDelivery'].required}}</label>
            </div>
          </div>
          <div class="row flex py-1"
              [ngClass]="{'required': frm.get('formRequires').value['shipToType'].required}">
            <div class="col-sm-4 control-label text-right">
              <label>Type</label>
            </div>
            <div class="col-sm-7"
                [ngClass]="{'has-error':!frm.get('shipToType').valid,
                'disabled': isPageReadOnly || isStyleReadOnly || isStyleCancelled || isOrderArchived || isOrderCancelled}">
              <ng-select [items]="shippingTypeData" #shippingTypeSelect
                        [virtualScroll]="true"
                        [searchable]="false"
                        [placeholder]="!isPageReadOnly && !isStyleReadOnly && !isStyleCancelled && !isOrderArchived && !isOrderCancelled ? 'Type' : ''"
                        (focus)="onSelectFocused(shippingTypeSelect)"
                        bindLabel="name"
                        bindValue="id"
                        formControlName="shipToType"></ng-select>
              <label class="error"
                    *ngIf="frm.get('shipToType').hasError('required') && !frm.get('shipToType').pristine">
                {{validationMessages['shipToType'].required}}</label>
            </div>
          </div>
          <div class="row flex py-1">
            <div class="col-sm-4 control-label text-right">
              <label>Tracking #</label>
            </div>
            <div class="col-sm-7">
              <input formControlName='shipToTracking'
                    type="text"
                    [placeholder]="!isPageReadOnly && !isStyleReadOnly && !isStyleCancelled && !isOrderArchived && !isOrderCancelled ? 'Tracking #' : ''"
                    [attr.disabled]="isPageReadOnly || isStyleReadOnly || isStyleCancelled || isOrderArchived || isOrderCancelled ? true : null"
                    class="form-control">
            </div>
          </div>
          <div class="row flex py-1">
            <div class="col-sm-4 control-label text-right">
              <label style="white-space: nowrap;">Packing Documents</label>
            </div>
            <div class="col-sm-7">
              <div class="input-group">
                <span class="input-group-addon cursor" (click)="openUploader(frm, uploadedType.ShippingFile)"
                      *ngIf="!isPageReadOnly && !isStyleReadOnly && !isStyleCancelled && !isOrderArchived && !isOrderCancelled && !checkLengthUploaderByType(uploadedType.ShippingFile)">
                  <i class="fa fa-upload" aria-hidden="true"></i>
                </span>
                <span class="input-group-addon cursor" [ngClass]="{'disabled': isPageReadOnly || isStyleReadOnly || isStyleCancelled || isOrderArchived || isOrderCancelled}"
                      (click)="openUploader(frm, uploadedType.ShippingFile)"
                      *ngIf="checkLengthUploaderByType(uploadedType.ShippingFile)">
                  <i class="fa fa-eye" [ngStyle]="{'top': '-1px'}" aria-hidden="true"></i>
                </span>
              </div>
            </div>
          </div>
        </ng-template>
      </div>
      <div class="col-lg-3">
        <div class="row flex py-1">
          <div class="col-sm-12"><b>Apply to these styles</b></div>
        </div>
        <div class="row flex"
              *ngFor="let style of styleList; let ii = index;">
          <div class="col-sm-12 p-l-10">
            <div class="checkbox mt-0 mb-0">
              <input type="checkbox" [id]="'style-' + ii"
                      [attr.disabled]="(style.orderDetailId === +orderIndex.styleId) || isPageReadOnly || isStyleReadOnly || isStyleCancelled || isOrderArchived || isOrderCancelled ? true : null"
                      [checked]="activeStylesChanges(frm, style.orderDetailId)"
                      (change)="onSelectStyle($event, frm, style.orderDetailId)">
              <label class="style-label" [for]="'style-' + ii">
                {{getLabelString(style)}}
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row"
         *ngIf="!isPageReadOnly && !isStyleReadOnly && !isStyleCancelled && !isOrderArchived && !isOrderCancelled">
      <div class="col-lg-3 col-sm-12 py-2">
        <div class="row flex py-1">
          <div class="col-sm-4"></div>
          <div class="col-sm-6">
            <button class="btn btn-complete btn-cons"
                    (click)="onSaved(frm)">Save
            </button>
            <!--<button class="btn btn-default btn-cons"-->
            <!--(click)="onCancel()">Cancel-->
            <!--</button>-->
          </div>
        </div>
      </div>
    </div>
    <div class="sticky-btn"
         *ngIf="!isPageReadOnly && !isStyleReadOnly && !isStyleCancelled && !isOrderArchived && !isOrderCancelled && isShowStickyBtn">
      <button class="btn btn-complete btn-cons"
              (click)="onSaved(frm)">Save
      </button>
    </div>
  </form>
</div>
