user-main {
  perfect-scrollbar {
    @media (min-width: 769px) {
      .ps__rail-x {
        position: fixed !important;
        left: 7em !important;
        right: 1em !important;
      }
    }
    @media (max-width: 768px) {
      .ps__rail-x {
        position: fixed !important;
        left: 1em !important;
        right: 1em !important;
      }
    }
  }
  .wrap-row {
    word-break: break-all;
  }
}
