<div class="row" *ngIf="!isPageReadOnly">
  <div class="col-sm-12 col-md-7 col-lg-6 m-b-10">
    <button class="btn btn-complete btn-cons" (click)="addNewLookupTable()">New {{lookupTableName}}</button>
    <!--<div class="input-icon">-->
      <!--<input-debounce placeholder="Start typing to search users by name, email, role"-->
                      <!--title="Start typing to search users by name, email, role"-->
                      <!--(value)="onSearchChanged($event)" [inputValue]="searchText"></input-debounce>-->
    <!--</div>-->
  </div>
  <div class="col-sm-12 col-md-5 col-lg-6 m-b-10">
  </div>
</div>

<ng-container *ngTemplateOutlet="pagination"></ng-container>
<perfect-scrollbar [config]="{suppressScrollX: false}">
  <div class="table-wrapper" #tableWrapper>
    <ngx-datatable #table
                   class="material ngx-table-hover"
                   [rows]="lookupTableData.data"
                   [columnMode]="'flex'"
                   [footerHeight]="0"
                   [headerHeight]="'auto'"
                   [rowHeight]="'auto'"
                   [externalSorting]="true"
                   [loadingIndicator]="tableConfig.loading"
                   (activate)="onActivate($event)"
                   [sorts]="[{prop: 'name', dir: 'asc'}]"
                   (sort)="onSort($event)">
      <!--<ngx-datatable-column-->
        <!--[minWidth]="45"-->
        <!--[maxWidth]="45"-->
        <!--[sortable]="false"-->
        <!--[canAutoResize]="true"-->
        <!--[draggable]="false"-->
        <!--[resizeable]="false">-->
        <!--<ng-template let-column="column" ngx-datatable-header-template>-->
          <!--<div class="checkbox check-all">-->
            <!--<input type="checkbox" [id]="'select-all'"-->
                   <!--[(ngModel)]="lookupTableData.selected.isCheckedAll"-->
                   <!--(ngModelChange)="onCheckAll($event)">-->
            <!--<label [for]="'select-all'"></label>-->
          <!--</div>-->
        <!--</ng-template>-->
        <!--<ng-template let-row="row" ngx-datatable-cell-template>-->
          <!--<div class="checkbox check-each">-->
            <!--<input type="checkbox" [id]="'checkbox-' + row.id" #rowCheckbox-->
                   <!--(change)="onRowSelected($event, row)">-->
            <!--<label [for]="'checkbox-' + row.id"></label>-->
          <!--</div>-->
        <!--</ng-template>-->
      <!--</ngx-datatable-column>-->
      <ngx-datatable-column
        [name]="'Name'"
        [prop]="'name'"
        [resizeable]="false"
        [minWidth]="140"
        [flexGrow]="2"
        [draggable]="false">
      </ngx-datatable-column>
      <ngx-datatable-column
        [name]="'Description'"
        [prop]="'description'"
        [minWidth]="170"
        [draggable]="false"
        [flexGrow]="2"
        [resizeable]="false">
      </ngx-datatable-column>
      <ngx-datatable-column
        [name]="'Enabled'"
        [prop]="'isDisabled'"
        [minWidth]="80"
        [sortable]="false"
        [resizeable]="false"
        [flexGrow]="1"
        [draggable]="false">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <div class="checkbox">
            <input type="checkbox" [checked]="!value" disabled>
            <label></label>
          </div>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column *ngIf="!isPageReadOnly"
        [name]="''"
        [minWidth]="70"
        [sortable]="false"
        [resizeable]="false"
        [flexGrow]="1"
        [cellClass]="'centerBtn'"
        [draggable]="false">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <button
            class="btn btn-complete btn-small"
            (click)="editLookupTable(row)"><i class="fa fa-pencil"></i></button>
           <button [disabled]="row.isDisabled"
            class="btn btn-danger btn-small"
            (click)="deleteSelectedRow(row)"><i class="fa fa-trash"></i></button>
        </ng-template>

      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</perfect-scrollbar>
<ng-container *ngTemplateOutlet="paginationTop"></ng-container>

<ng-template #pagination>
  <pagination-control [totalRecord]="lookupTableData.totalRecord" *ngIf="lookupTableData.data && lookupTableData.data.length"
                      [pageSize]="tableConfig.pageSize"
                      [currentPage]="tableConfig.currentPage"
                      (onSelectedPageSize)="onSelectedPageSize($event)"
                      (onPageChange)="onPageChange($event)"></pagination-control>
</ng-template>
<ng-template #paginationTop>
  <pagination-control [totalRecord]="lookupTableData.totalRecord" *ngIf="lookupTableData.data && lookupTableData.data.length"
                      [pageSize]="tableConfig.pageSize"
                      [currentPage]="tableConfig.currentPage"
                      [dropdownPosition]="'top-left'"
                      (onSelectedPageSize)="onSelectedPageSize($event)"
                      (onPageChange)="onPageChange($event)"></pagination-control>
</ng-template>
