lead-eta {
  .lead-time-error {
    position: absolute;
    font-size: 10px !important;
    line-height: 15px !important;
  }

  my-date-picker {
    width: 135px;
  }

  .ab-left {
    margin-top: 3px;
    position: absolute;
    left: 0;
  }

  .ab-right {
    left: auto !important;
    right: 0;
  }
}
