<div class="modal-header">
  <h4 class="modal-title m-0 nowrap">TSC Presentation Date - Change Status</h4>
  <button type="button" class="close" aria-label="Close" (click)="onClosePopup()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="frm" role="form" novalidate="" (ngSubmit)="onSubmitForm()">
    <lead-eta [rowDetail]="rowDetail" [isPageReadOnly]="isPageReadOnly"></lead-eta>
    <div class="row flex py-1"
         [ngClass]="{'required': frm.get('formRequires').value['tscPresentationDateStatus'].required}">
      <div class="col-7">
        <div class="row">
          <div class="col-6 control-label text-right">
            <label>Status</label>
          </div>
          <div class="col-6"
               [ngClass]="{'has-error': !frm.get('tscPresentationDateStatus').valid,
                    'disabled': isPageReadOnly}">
            <ng-select [items]="statusData"
                       [placeholder]="!isPageReadOnly ? 'Status' : ''"
                       [searchable]="false" #statusSelect
                       (focus)="onSelectFocused(statusSelect)"
                       bindLabel="name"
                       bindValue="id"
                       formControlName="tscPresentationDateStatus">
            </ng-select>
            <label class="error"
                   *ngIf="frm.get('tscPresentationDateStatus').hasError('required') && !frm.get('tscPresentationDateStatus').pristine">
              {{validationMessages['default'].required}}</label>
          </div>
        </div>
      </div>
    </div>
    <ng-container
      *ngIf="frm.get('tscPresentationDateStatus').value && frm.get('tscPresentationDateStatus').value !== taskStatus.BLANK">
      <div class="row py-1">
        <div class="col-7">
          <ng-container *ngIf="frm.get('tscPresentationDateStatus').value === taskStatus.SUBMITTED">
            <div class="row flex py-1"
                 [ngClass]="{'required': frm.get('formRequires').value['tscPresentationSubmitDateOnUtc'].required}">
              <div class="col-6 control-label text-right">
                <label class="nowrap">Submit Date</label>
              </div>
              <div class="col-6"
                   [ngClass]="{'has-error':!frm.get('tscPresentationSubmitDateOnUtc').valid}">
                <my-date-picker class="flex" [options]="myTodayPickerOptions"
                                #tscPresentationSubmitDatePicker
                                formControlName='tscPresentationSubmitDate'
                                [ngClass]="{'disabled': isPageReadOnly}"
                                [disabled]="isPageReadOnly"
                                (dateChanged)="onDateChangedBy($event, 'tscPresentationSubmitDateOnUtc')"
                                (inputFieldChanged)="myDatePickerService.onInputFieldChanged($event, tscPresentationSubmitDatePicker)"
                                (inputFocusBlur)="myDatePickerService.onInputFocusBlur($event, tscPresentationSubmitDatePicker, frm.get('tscPresentationSubmitDateOnUtc'))"></my-date-picker>
                <label class="error"
                       *ngIf="frm.get('tscPresentationSubmitDateOnUtc').hasError('required') && !frm.get('tscPresentationSubmitDateOnUtc').pristine">
                  {{validationMessages['default'].required}}</label>
                <label class="error"
                       *ngIf="frm.get('tscPresentationSubmitDateOnUtc').hasError('maxDate') && !frm.get('tscPresentationSubmitDateOnUtc').pristine">
                  {{validationMessages['default'].maxLength}}
                </label>
              </div>
            </div>
          </ng-container>
        </div>
        <div class="col-5">
          <ng-container *ngIf="frm.get('tscPresentationDateStatus').value === taskStatus.SUBMITTED">
            <div class="row flex py-1">
              <div class="col-1 btn-upload-behind">
                <span class="cursor"
                      (click)="openUploader(frm)"
                      *ngIf="!isPageReadOnly && !checkLengthUploaderByType(frm)">
                  <i class="fa fa-upload fa-lg" aria-hidden="true"></i>
                </span>
                <span class="cursor"
                      [ngClass]="{'disabled': isPageReadOnly}"
                      (click)="openUploader(frm)"
                      *ngIf="checkLengthUploaderByType(frm)">
                  <i class="fa fa-eye fa-lg" [ngStyle]="{'top': '-1px'}" aria-hidden="true"></i>
                </span>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </ng-container>
  </form>
</div>
<div class="modal-footer">
  <ng-container *ngIf="!isPageReadOnly">
    <button class="btn btn-complete"
            (click)="onSubmitForm()">
      Save
    </button>
  </ng-container>
  <button class="btn btn-default"
          (click)="onClosePopup()">
    Cancel
  </button>
</div>

