<div class="row pb-2 separate-border relative">
  <div class="col-sm-12">
    <collapse-panel [formValue]="searchedObj">
      <form class="full-width" [formGroup]="frm" role="form" novalidate="" (ngSubmit)="filter()">
        <div class="row">
          <div class="col-lg-10 col-xl-8 col-xxl-6">
            <div class="row">
              <div class="col-sm-6 col-lg-6 col-xl-6">
                <div class="row align-items-center m-b-5">
                  <div class="col-4 col-sm-4 col-lg-4">
                    <span class="right nowrap">Project:</span>
                  </div>
                  <div class="col-8 col-sm-8 col-lg-8">
                    <!--<ng-select [items]="csrsData"-->
                    <!--[placeholder]="'Account Manager'"-->
                    <!--[searchable]="false" #csrsSelect-->
                    <!--(focus)="onSelectFocused(csrsSelect)"-->
                    <!--(open)="onSelectOpen(csrsSelect)"-->
                    <!--bindLabel="fullName"-->
                    <!--bindValue="fullName"-->
                    <!--formControlName="csr"></ng-select>-->
                    <input type="text" (keyup)="onKeyup($event)"
                           name="projectName"
                           [placeholder]="'Project'"
                           formControlName='projectName'
                           class="form-control">
                  </div>
                </div>
                <div class="row align-items-center m-b-5">
                  <div class="col-4 col-sm-4 col-lg-4">
                    <span class="right nowrap">Product Name:</span>
                  </div>
                  <div class="col-8 col-sm-8 col-lg-8">
                    <input type="text" (keyup)="onKeyup($event)"
                           name="productName"
                           [placeholder]="'Product Name'"
                           formControlName='productName'
                           class="form-control">
                  </div>
                </div>
                <div class="row align-items-center m-b-5">
                  <div class="col-4 col-sm-4 col-lg-4">
                    <span class="right nowrap">Factory:</span>
                  </div>
                  <div class="col-8 col-sm-8 col-lg-8">
                    <ng-select [items]="factoryData" #factorySelect
                               [placeholder]="'Factory'"
                               (focus)="onSelectFocused(factorySelect)"
                               (open)="onSelectOpen(factorySelect)"
                               bindLabel="name"
                               bindValue="id"
                               formControlName="factoryId"></ng-select>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-lg-6 col-xl-6">
                <div class="row align-items-center m-b-5">
                  <div class="col-4 col-sm-4 col-lg-4">
                    <span class="right">Retailer:</span>
                  </div>
                  <div class="col-8 col-sm-8 col-lg-8">
                    <input type="text" (keyup)="onKeyup($event)"
                           name="retailerName"
                           [placeholder]="'Retailer'"
                           formControlName='retailerName'
                           class="form-control">
                  </div>
                </div>
                <div class="row align-items-center m-b-5">
                  <div class="col-4 col-sm-4 col-lg-4">
                    <span class="right">Licensor:</span>
                  </div>
                  <div class="col-8 col-sm-8 col-lg-8">
                    <ng-select [items]="licensorData" #licensorSelect
                               [placeholder]="'Licensor'"
                               (focus)="onSelectFocused(licensorSelect)"
                               (open)="onSelectOpen(licensorSelect)"
                               bindLabel="name"
                               bindValue="id"
                               formControlName="licensorId"></ng-select>
                  </div>
                </div>
                <div class="row align-items-center m-b-5">
                  <div class="col-4 col-sm-4 col-lg-4">
                    <span class="right">Licensee:</span>
                  </div>
                  <div class="col-8 col-sm-8 col-lg-8">
                    <ng-select [items]="licenseeData" #licenseeSelect
                               [placeholder]="'Licensee'"
                               (focus)="onSelectFocused(licenseeSelect)"
                               (open)="onSelectOpen(licenseeSelect)"
                               bindLabel="name"
                               bindValue="id"
                               formControlName="licenseeId"></ng-select>
                  </div>
                </div>
              </div>
            </div>
            <div class="row" formArrayName="colsName">
              <ng-container
                *ngFor="let colName of colsName.controls; trackBy: trackByFn; let index = index; let last = last"
                [formGroupName]="index">
                <div class="col-lg-12 col-sm-12 m-b-5" *ngIf="last">
                  <div class="row">
                    <div class="col-4 col-sm-2 col-lg-2">
                      <span class="right nowrap m-t-5">Status:</span>
                    </div>
                    <div class="col-8 col-sm-5 col-lg-5">
                      <ng-select [items]="colNameData"
                                 [placeholder]="'Column Name'" #colNameSelect
                                 (focus)="onSelectFocused(colNameSelect)"
                                 (open)="onSelectOpen(colNameSelect)"
                                 bindLabel="name"
                                 bindValue="id"
                                 formControlName="id"
                                 (change)="onChangeColName($event, colName)"></ng-select>
                    </div>
                    <div class="col-12 col-sm-5 col-lg-5" *ngIf="last"
                         [ngClass]="{'none': !colName.get('id').value,
                    'has-error': colName.get('status').invalid}">
                      <div class="row">
                        <div class="col-4 hidden-sm hidden-lg hidden-xl"></div>
                        <div class="col-8 col-sm-9 col-lg-9">
                          <ng-select [items]="listColumnStatus"
                                     [multiple]="true"
                                     [closeOnSelect]="false"
                                     [hideSelected]="true"
                                     [placeholder]="'Status'"
                                     [searchable]="false" #listColumnSelect
                                     (focus)="onSelectFocused(listColumnSelect)"
                                     bindLabel="name"
                                     formControlName="status">
                          </ng-select>
                          <label class="error"
                                 *ngIf="colName.get('status').hasError('required') && !colName.get('status').pristine">
                            {{validationMessages['default'].required}}</label>
                        </div>
                        <button class="btn btn-default btn-filter col-12 col-sm-3" style="height: 26px"
                                (click)="addColName()">Add Filter
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
          <!--<div class="col-lg-10 col-xl-8 col-xxl-6">-->
            <!--<div class="row">-->
              <!--<div class="col-sm-6 col-lg-6 col-xl-6">-->
                <!--<div class="row align-items-center m-b-5">-->
                  <!--<div class="col-4 col-sm-4 col-lg-4">-->
                    <!--<span class="right">Customer:</span>-->
                  <!--</div>-->
                  <!--<div class="col-8 col-sm-8 col-lg-8">-->
                    <!--<input type="text" (keyup)="onKeyup($event)"-->
                           <!--name="customerName"-->
                           <!--[placeholder]="'Customer'"-->
                           <!--formControlName='customerName'-->
                           <!--class="form-control">-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
          <div class="col-lg-12 col-xl-12 left px-1">
            <ng-container
              *ngFor="let colName of colsName.controls; trackBy: trackByFn; let index = index; let last = last">
              <span *ngIf="!last && colName.get('name').value"
                    class="status-tags btn m-r-10 m-b-5">
                <span>
                  {{colName.get('name').value}}: {{toStatusString(colName.get('status').value)}}&nbsp;&nbsp;
                </span>
                <a class="close" (click)="removeStatus(index)">×</a>
              </span>
            </ng-container>
          </div>
          <div class="col-lg-12 col-xl-12 left px-1">
            <div class="row">
              <div class="col-lg-12 center ">
                <button class="btn btn-primary center" type="submit">Search</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </collapse-panel>
  </div>
</div>
