column-info {
  width: 100%;
  height: 100%;

  .m-b-14 {
    margin-bottom: 14px !important;
  }
  .stt-red {
    background: red;
    color: #fff;
  }
  .stt-yellow {
    background: #ffff00;
    color: #000;
  }
  .p-t-1-4 {
    padding-top: 1.4px;
  }
}
