shipping-info {
  display: block;

  .btn-upload {
    position: relative;
    top: 5px;
    padding-left: 0 !important;
  }

  .general-title {
    border-bottom: 1px solid #626262;
    font-size: 14px;
  }
}
