shipping-main {
  #shippingTable > perfect-scrollbar {
    @media (min-width: 992px) {
      & > .ps__rail-x {
        position: fixed !important;
        left: 85px !important;
      }
    }
    @media (max-width: 990px) {
      & > .ps__rail-x {
        position: fixed !important;
        left: 15px !important;
      }
    }
  }
  #sizeTable {
    .ps__rail-x {
      position: relative !important;
      opacity: 1 !important;
    }
  }
  .wrap-row {
    word-break: break-all;
  }
  .filterBtn {
    @media (min-width: 1200px) {
      margin-left: 15px;
    }
    @media (max-width: 1199px) {
      margin-left: 8px;
    }
  }
  // .ui-select-toggle {
  //   .ui-select-match-text {
  //     max-width: 90%;
  //     overflow: hidden;
  //   }
  //   a {
  //     margin-right: -5px !important;
  //   }
  //   &.form-control {
  //     padding: 8px 12px;
  //   }
  // }
  #header {
    z-index: 2;
    pointer-events: none;
    position: fixed;
    top: 60px;
    tbody {
      visibility: hidden;
    }
  }

  .plateScreenInput {
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: inherit;
    color: #626262;
    text-align: center;
  }

  .table {
    th, td {
      padding: 0.4rem !important;
    }
    th {
      &:first-child {
        padding-left: 0.4rem !important;
      }
    }
    div.flex-box {
      display: flex;
      height: 100%;
      flex-flow: column;
      justify-content: center;
      &:hover .p-link {
        color: #48b0f7;
        text-decoration: underline;
      }
    }
    th.day {
      padding-left: 20px !important;
      text-align: start;
      border-right: none !important;
      background-color: #2b3a82;
      color: white;
      font-weight: bold;
      font-size: 16px;
    }
    th.time {
      border-left: none !important;
      background-color: #2b3a82;
      color: white;
      font-weight: bold;
      font-size: 16px;
    }
    div.center-box {
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      height: 100%;
    }
    .btn-small {
      padding: 3px 2px;
      font-size: inherit;
    }
  }

  .font-size-8 {
    .table {
      thead {
        th {
          font-size: 8px;
        }
      }
      td {
        font-size: 8px;
        p {
          font-size: 8px;
        }
      }
    }
  }
  .font-size-9 {
    .table {
      thead {
        th {
          font-size: 9px;
        }
      }
      td {
        font-size: 9px;
        p {
          font-size: 9px;
        }
      }
    }
  }
  .font-size-10 {
    .table {
      thead {
        th {
          font-size: 10px;
        }
      }
      td {
        font-size: 10px;
        p {
          font-size: 10px;
        }
      }
    }
  }
  .font-size-11 {
    .table {
      thead {
        th {
          font-size: 11px;
        }
      }
      td {
        font-size: 11px;
        p {
          font-size: 11px;
        }
      }
    }
  }
  .font-size-12 {
    .table {
      thead {
        th {
          font-size: 12px;
        }
      }
      td {
        font-size: 12px;
        p {
          font-size: 12px;
        }
      }
    }
  }

  .shipping-table {
    margin: 0 !important;
    .header-daytime {
      th:not(.red-cell) {
        font-size: 12px !important;
        border-color: #2b3a82;
        border-left: 1px solid #2b3a82;
      }
      th.red-cell {
        font-size: 12px !important;
        border-color: red;
        border-left: 1px solid red;
      }
    }
    th {
      text-transform: unset !important;
      background-color: #ccc;
    }
    th, td {
      border-right: 1px solid #bbb;
    }
    p {
      line-height: 13px;
    }
    .seperate-child {
      p {
        padding-left: 5px;
        padding-right: 5px;
        &:not(.mbe-1) {
          margin-bottom: 5px !important;
        }

        &:nth-of-type(1) {
          display: flex;
          margin-top: 5px;
          align-items: center;
          justify-content: center;
        }
      }
      &:not(.col-readonly) {
        &:hover {
          cursor: pointer;
          background-color: #daeffd !important;
          .p-link {
            color: #48b0f7;
            text-decoration: underline;
          }
        }
      }
    }
    .red-bg {
      background: red;
      color: #fff;
    }
    .type-domestic {
      background-color: #daeffd !important;
    }

    .type-outsource {
      background-color: #c3e6cb !important;
    }

    .type-cutandsew {
      background-color: #f8d7da !important;
    }
    .total-piece td {
      padding: 5px !important;
      font-weight: bold;
      background-color: #c5d9f1 !important;
    }
    .fa-eye {
      font-size: inherit;
      &:hover {
        cursor: pointer;
        color: #48b0f7;
      }
    }
    .noschedule {
      padding: 1rem 20px !important;
      font-size: 14px !important;
      font-weight: bold;
      text-align: left;
    }
  }

  .runTimeInput {
    width: 59px;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 12px;
    color: #626262;
    text-align: center;
  }
  .neededDate {
    span {
      i {
        &.pull-right {
          margin-top: 3px;
        }
      }
    }

    my-date-picker {
      .mydp {
        border: none;
        .selection {
          display: none;
        }
        .selectorarrow {
          margin-top: -1px !important;
        }
        .alignselectorright {
          right: 21px;
        }
        .selector {
          border: none;
        }
      }
      table {
        th, td {
          border-right: none;
        }
        th:first-child {
          padding-left: 4px !important;
        }
        th {
          text-transform: unset !important;
          font-family: inherit;
        }
        tbody {
          td {
            border-bottom: none;
            font-size: 14px;
          }
        }
        &.header {
          border-left: 1px solid #ccc;
          border-top: 1px solid #ccc;
          border-right: 1px solid #ccc;
        }
        &.caltable {
          border-left: 1px solid #ccc;
          border-bottom: 1px solid #ccc;
          border-right: 1px solid #ccc;
        }
      }
    }
  }
  .gu-transit {
    opacity: 0.2;
    -ms-filter: unset;
    filter: unset;
    td {
      border-bottom: 2px dashed #ccc !important;
      border-top: 2px dashed #ccc !important;
    }
    td:first-child {
      border-left: 2px dashed #ccc !important;
    }
    td:last-child {
      border-right: 2px dashed #ccc !important;
    }
  }
  form {
    width: 100%;
  }
  .un-p-link {
    display: block;
  }
  .p-eyes {
    cursor: pointer;
    &:hover {
      i {
        color: #6dc0f9;
      }
    }
  }

  .style-table {
    margin: 0;
    input {
      height: 18px !important;
      border: none !important;
      width: 30px !important;
      border-bottom: 1px solid #80bdff !important;
    }
    td, th {
      background: #fff !important;
      padding: 0.2em 0 !important;
      color: #2c2c2c !important;
      text-align: center !important;
      font-size: inherit;
      border: 1px solid hsla(0, 0%, 90%, .8);
      white-space: nowrap !important;
      min-width: 30px;
    }
    th {
      font-weight: 300 !important;
      background-color: #f1f1f1 !important;
      &:first-child {
        padding-left: 0 !important;
      }
    }
    tr th {
      white-space: nowrap;
    }
  }
  .plateInput {
    width: 100%;
    border-bottom: 1px solid rgb(222, 221, 221);
  }

  .p-link {
    i {
      display: none;
    }
  }
  .checkmark {
    color: #28a745;
    i {
      display: inline-block;
      color: #28a745;
    }
  }

  .print-method-group {
    background-color: #eee !important;
    padding: 0.5rem 20px !important;
    font-size: 14px !important;
    font-weight: bold;
    text-align: left;
  }

  my-date-picker {
    width: 135px;
  }

  .stt-color:not(.checkmark) {
    color: red;
  }
  .subtotal td {
    background-color: #c5d9f1 !important;
    font-weight: 700;
  }
  .move-icon {
    position: absolute;
    bottom: 8px;
    left: calc(50% - 7px);
    i {
      cursor: -webkit-grab;
      cursor: -moz-grab;
    }
  }
  .gu-transit {
    opacity: 0.2;
    -ms-filter: unset;
    filter: unset;
    td {
      border-bottom: 2px dashed green !important;
      border-top: 2px dashed green !important;
    }
    td:first-child {
      border-left: 2px dashed green !important;
    }
    td:last-child {
      border-right: 2px dashed green !important;
    }
  }
  .invalid-area {
    .gu-transit {
      td {
        border-bottom: 2px dashed red !important;
        border-top: 2px dashed red !important;
      }
      td:first-child {
        border-left: 2px dashed red !important;
      }
      td:last-child {
        border-right: 2px dashed red !important;
      }
    }
  }
  .red-cell {
    background-color: red !important;
    color: white;
  }
  .resched-cell {
    background-color: #FF9900 !important;
    color: white;
  }

  .mbe-1 {
    margin-bottom: 0.1em !important;
  }
}
