<create-or-update-user (onValueChange)="submitData($event)">
  <div *ngIf="!isPageReadOnly || isCurrentUser">
    <button class="btn btn-complete btn-cons pull-left m-r-5" (click)="onSubmit()">
      Save
    </button>
    <!--<button class="btn btn-default btn-cons pull-left" type="button" (click)="cancel()">-->
    <!--Cancel-->
    <!--</button>-->
    <button class="btn btn-warning btn-cons pull-right" type="button" (click)="changePassword()"
            *ngIf="!showChangePassBtn">
      Change Password
    </button>
  </div>
  <div class="sticky-btn" *ngIf="(!isPageReadOnly || isCurrentUser) && isShowStickyBtn">
    <button class="btn btn-complete btn-cons" (click)="onSubmit()">
      Save
    </button>
  </div>
</create-or-update-user>

<!--Show in small screen-->
<div class="row justify-center button-group-small m-t-15" *ngIf="!isPageReadOnly || isCurrentUser">
  <div class="col-sm-2 col-xl-3"></div>
  <div class="col-sm-9">
    <button class="btn btn-complete btn-cons pull-left m-r-5" (click)="onSubmit()">
      Save
    </button>
    <!--<button class="btn btn-default btn-cons pull-left" type="button" (click)="cancel()">-->
    <!--Cancel-->
    <!--</button>-->
    <button class="btn btn-warning btn-cons pull-right" type="button" (click)="changePassword()"
            *ngIf="!showChangePassBtn">
      Change Password
    </button>
  </div>
</div>
