<div class="modal-header">
  <h4 class="modal-title m-0 nowrap">Embellishment Sample Date - Change Status</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="frm" role="form" novalidate="" (ngSubmit)="onSubmitForm()">
    <lead-eta [rowDetail]="rowDetail" [isPageReadOnly]="isPageReadOnly || isLeadTimeReadOnly"
              [labelClass]="'col-5'" [controlClass]="'col-7'"></lead-eta>
    <div class="row flex py-1"
         [ngClass]="{'required': frm.get('formRequires').value['sampleDateStatus'].required}">
      <div class="col-7">
        <div class="row">
          <div class="col-5 col-sm-5 control-label text-right">
            <label>Status</label>
          </div>
          <div class="col-7 col-sm-7"
               [ngClass]="{'has-error': !frm.get('sampleDateStatus').valid,
                    'disabled': isPageReadOnly}">
            <ng-select [items]="statusData"
                       [placeholder]="!isPageReadOnly ? 'Status' : ''"
                       [searchable]="false" #statusSelect
                       (focus)="onSelectFocused(statusSelect)"
                       bindLabel="name"
                       bindValue="id"
                       formControlName="sampleDateStatus">
            </ng-select>
            <label class="error"
                   *ngIf="frm.get('sampleDateStatus').hasError('required') && !frm.get('sampleDateStatus').pristine">
              {{validationMessages['default'].required}}</label>
          </div>
        </div>
      </div>
    </div>
    <ng-container *ngIf="frm.get('sampleDateStatus').value && frm.get('sampleDateStatus').value !== taskStatus.BLANK">
      <div class="row py-1">
        <div class="col-7">
          <ng-container *ngIf="frm.get('sampleDateStatus').value === taskStatus.WAITINGCUSTOMER
                        || frm.get('sampleDateStatus').value === taskStatus.WAITINGINTERNAL">
            <div class="row flex py-1"
                 [ngClass]="{'required': frm.get('formRequires').value['sampleDateComment'].required}">
              <div class="col-5 col-sm-5 control-label text-right">
                <label class="nowrap">Comments</label>
              </div>
              <div class="col-7 col-sm-7 my-textarea"
                   [ngClass]="{'has-error':!frm.get('sampleDateComment').valid}">
                <textarea formControlName='sampleDateComment'
                          type="text"
                          [attr.disabled]="isPageReadOnly ? true : null"
                          [placeholder]="!isPageReadOnly ? 'Comments' : ''"
                          class="form-control"></textarea>
                <label class="error"
                       *ngIf="frm.get('sampleDateComment').hasError('required') && !frm.get('sampleDateComment').pristine">
                  {{validationMessages['default'].required}}</label>
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="frm.get('sampleDateStatus').value === taskStatus.APPROVED">
            <div class="row flex py-1"
                 [ngClass]="{'required': frm.get('formRequires').value['sampleDateOnUtc'].required}">
              <div class="col-5 col-sm-5 control-label text-right">
                <label class="nowrap">Approved Date</label>
              </div>
              <div class="col-7 col-sm-7"
                   [ngClass]="{'has-error':!frm.get('sampleDateOnUtc').valid}">
                <my-date-picker class="flex" [options]="myTodayPickerOptions"
                                #sampleDatePicker
                                formControlName='sampleDate'
                                [ngClass]="{'disabled': isPageReadOnly}"
                                [disabled]="isPageReadOnly"
                                (dateChanged)="onDateChangedBy($event, 'sampleDateOnUtc')"
                                (inputFieldChanged)="myDatePickerService.onInputFieldChanged($event, sampleDatePicker)"
                                (inputFocusBlur)="myDatePickerService.onInputFocusBlur($event, sampleDatePicker, frm.get('sampleDateOnUtc'))"></my-date-picker>
                <label class="error"
                       *ngIf="frm.get('sampleDateOnUtc').hasError('required') && !frm.get('sampleDateOnUtc').pristine">
                  {{validationMessages['default'].required}}</label>
                <label class="error"
                       *ngIf="frm.get('sampleDateOnUtc').hasError('maxDate') && !frm.get('sampleDateOnUtc').pristine">
                  {{validationMessages['default'].maxLength}}
                </label>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </ng-container>
  </form>
</div>
<div class="modal-footer">
  <ng-container *ngIf="!isPageReadOnly">
    <button class="btn btn-complete"
            (click)="onSubmitForm()">
      Save
    </button>
  </ng-container>
  <button class="btn btn-default"
          (click)="activeModal.dismiss()">
    Cancel
  </button>
</div>

